.contentpane div.item-page{
	background-color:#FFF;
	}


div.mod-oprosnik ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
div.mod-oprosnik li {
	margin-left: 5px;
	margin-right: 5px;
}

div.mod-oprosnik ul.lang-inline li {
	display:inline;
}

div.mod-oprosnik ul.lang-block li {
	display:block;
}

div.mod-oprosnik img {
	border:none;
	padding-right:5px !important;
	padding-left:5px !important;
}

div.mod-oprosnik a {
	text-decoration: none;
}

.mod-oprosnik-table{
	
width:228px;
}

div.mod-oprosnik .mod-oprosnik-table tr td
{
padding-left:0px;
}


div.mod-oprosnik .mod-oprosnik-table td
{

font-family:Roboto, Times, serif;
font-size:14px;
padding:0;
height: 8px;	
}
 div.mod-oprosnik input[type=text]
{
font-family:Roboto, sans-serif;
font-size:14px;
border: 0px dashed #000;
width:76px;	
 height: 16px;
    margin: 2px;
}

div.mod-oprosnik2 input, div.mod-oprosnik4 input
{
font-family:"Times New Roman", Times, serif;
font-size:14px;
border: 1px solid #000;
width:60px	
}

div.mod-oprosnik2 div
{
	width:450px;
	float:left;
	font-family:Roboto, sans-serif;
	font-size:14px;
	text-align:left;
}

div.mod-oprosnik2, div.mod-oprosnik3, div.mod-oprosnik4
{
	font-family:Roboto, sans-serif;
	font-size:14px;
	text-align:left;
}

div.mod-oprosnik3 input
{
font-family:"Times New Roman", Times, serif;
font-size:14px;
border: 1px solid #000;
width:240px	
}

div.mod-oprosnik4 div
{
	float:left;
	width:447px;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}

div.mod-oprosnik table td
{
	text-align:left;
	vertical-align:middle;	
}

div.mod-oprosnik table td img
{
width:230px;	
}

.mod-oprosnik-table2 td img
{
width:298px!important;	
}

.mod-oprosnik h4 {
	font:18px Roboto, sans-serif;
}
.mod-oprosnik h5 {
	font:bold 20px Roboto, sans-serif;
	color:#000000;
	text-align:left;
}

.mod-oprosnik-table {
	font:14px Roboto,sans-serif;
	color:#000000;
}

td.right_separator
{
	border-right: 0px solid #ccc;
	padding-right:55px !important;
	padding-left: 2em !important;
}

div.noname-markirovka
{
	width:100% !important;
	text-align:center !important;
	text-decoration:none;
	font:italic 17px Roboto,sans-serif!important;
}

input.inp_a, input.inp_b,input.inp_c,input.inp_d,input.inp_e,input.inp_f,input.inp_g,input.inp_h,input.inp_i,input.inp_j{
	visibility:hidden;
	/*background-color:#6FC;*/
	background-color:#cacaca;
}
div#all {
	padding: 0 20px 0 20px;
	}

.mod-oprosnik-table table, .mod-oprosnik-table tr td {
	border:none;
}

.inputtd {
	border:1px solid #b2b2b2!important;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin-top: 6px;
	margin-bottom:3px;
}

.mod-oprosnik-table .risunok {
	margin-top:0.7em;
}


input[type="radio"] {
    display: block;
}

.mod-oprosnik h6 {
	font:18px Roboto, sans-serif;
	color:#000000;
	margin-top:1.5em;
	margin-bottom: 1.2em;
}

.mod-oprosnik-table2 td {
	vertical-align: top!important;
}

div .mod-oprosnik2 div{
	font:bold 20px Roboto, sans-serif;
}
div .mod-oprosnik3 div{
	font:18px Roboto, sans-serif;
}

div.mod-oprosnik3 input[type=text], div.mod-oprosnik2 input[type=text] {
	font-family:Roboto, sans-serif;
	font-size:14px;
	border: 1px solid #b2b2b2!important;
	
}

div.mod-oprosnik2 input {
	float:left;
}
div.mod-oprosnik2 {
	text-align:left;
}
div.mod-oprosnik2 span, div.mod-oprosnik4 span {
	padding-left:0.4em;
}

#mo_5_2 {
	margin-left:5em;
}
.spando {
	margin-left:-135px;
}
.spandoc {
	margin-left:100px;
}

#lenta_zamknuta_da, #lenta_zamknuta_net {
	width:19px;
	margin-top: 6px;
}
#lenta_zamknuta_net {
	margin-left:62px;
}
.spanda {
	margin-left:/*-80px*/;
}
.spannet {
	margin-left:58px;
}

div .mod-oprosnik4 .star {
	color:red;
	padding-left:0;
}

#form-man {
	width:947px;
	height:318px;
	margin:0 auto;
	border:1px solid #cccccc;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	background-color:#e7e7e7;
	float:none;
	color:#000000;
}

div .mod-oprosnik3 #form-man div {
	font:500 14px Roboto,sans-serif!important;	
}

.form-man-p1 {
	text-align:center;
	border-bottom:1px solid #cccccc;
	margin:16px 10px;
	padding-bottom:15px;
}

button {
	font:18px Roboto,sans-serif!important;
	color:#ffffff!important;
	text-transform:uppercase!important;
}

#form-man #mo_7_11{
	border:1px solid #cccccc;
	resize:none;
	padding:10px;
	height: 150px;
    width: 495px;
}

#form-man input{
	width:300px;
}

input , textarea{
    border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:none;
}

#form-man p {
	margin-bottom:0;
}

#form-man .form-man-id {
	width: 335px;
	padding-left: 44px;
	padding-top:10px;
}

#form-man .form-man-text {
	width:550px; 
	padding-top:24px;
}

.form-man-id>div, .form-man-text>div {
	width:90%!important;
	margin-bottom: 9px;
}

input:invalid, textarea:invalid {
    box-shadow: 0 0 2px #f00;
}

#form-man-but {
	background: linear-gradient(to top, #ff6632 0%, #fe751a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	 border-radius: 8px !important;
	 -moz-border-radius:8px;
	-webkit-border-radius:8px;
	display: block;
    font: 18px Roboto !important;
    margin: 40px auto 0;
    padding: 8px 40px;
    text-transform: uppercase;
}
#form-man-but:hover {
	background: linear-gradient(to top, #fe751a 0%, #ff7114 100%) !important;
}

.Itemid-239 #k2Container {
	min-height:25px;
}

tr, td{
	border:none none!important;
	border:2px solid white!important;
	border-collapse:separate;
}

/* скрываем radiobutton*/
input[type="radio"], input[type="input"]{
	display: none;
}

/* кастомизируем label*/
label{
    width: 21px;
    height: 21px;
}

label.lenta_zamknuta_net{
	margin-left:62px;
}

/* Для выбранного объекта*/
input[type="radio"]+label, input[type="input"]+label{
	float:left;
	background: url(../images/input_radio_1.jpg) left top no-repeat #fff;
}

input[type="radio"]:checked+label, input[type="input"]:checked+label{
	background: url(../images/input_radio_1.jpg) -21px top no-repeat #fff;
	float:left;
}

label.check_a,label.check_b,label.check_c,label.check_d,label.check_e,label.check_f,label.check_g,label.check_i,label.check_h,label.check_h1,label.check_h2,label.check_h3,label.check_h4,label.check_h5,label.check_h6,label.check_h7,label.check_h8{
	margin-top:0.4em;
}





