/**
* @version 3.1.4
* @package PWebContact
* @copyright © 2013 Perfect Web sp. z o.o., All rights reserved. http://www.perfect-web.co
* @license GNU General Public License http://www.gnu.org/licenses/gpl-3.0.html
* @author Piotr Moćko
*/

/* Font family and size */
.pweb-form-black .pwebcontact-box,
.pweb-form-black form.pwebcontact-form label
.pweb-form-black form.pwebcontact-form input,
.pweb-form-black form.pwebcontact-form textarea,
.pweb-form-black form.pwebcontact-form select,
.pweb-form-black form.pwebcontact-form button,
.pweb-form-black form.pwebcontact-form .btn {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Links */
.pweb-form-black form.pwebcontact-form a {
    color: #000;
	text-decoration: none;
	background: none;
}
.pweb-form-black form.pwebcontact-form a:hover {
    text-decoration: underline;
}

/* Labels invalid */
.pweb-form-black form.pwebcontact-form .invalid,
.pweb-form-black form.pwebcontact-form .invalid a {
	color: #f00 !important;
}
/* Fields */
.pweb-form-black form.pwebcontact-form input.pweb-input, 
.pweb-form-black form.pwebcontact-form select, 
.pweb-form-black form.pwebcontact-form textarea {
	background: #fff;
	color: #333;
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
}
/* Fields shadow */
.pweb-form-black.pweb-shadow form.pwebcontact-form input.pweb-input, 
.pweb-form-black.pweb-shadow form.pwebcontact-form select, 
.pweb-form-black.pweb-shadow form.pwebcontact-form textarea {
	-webkit-box-shadow: 0 0 5px #999, 0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 5px #999, 0 1px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 5px #999, 0 1px 2px rgba(0,0,0,0.2) inset;
}
/* Fields invalid */
.pweb-form-black form.pwebcontact-form input.invalid.pweb-input, 
.pweb-form-black form.pwebcontact-form select.invalid, 
.pweb-form-black form.pwebcontact-form textarea.invalid { 
	border-color: #f00 !important;
	-webkit-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	-moz-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
}
/* Fields active */
.pweb-form-black form.pwebcontact-form input.pweb-input:focus, 
.pweb-form-black form.pwebcontact-form select:focus, 
.pweb-form-black form.pwebcontact-form textarea:focus {
	border-color: #000 !important;
	-webkit-box-shadow: 0 0 5px #000, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	-moz-box-shadow: 0 0 5px #000, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	box-shadow: 0 0 5px #000, 0 1px 2px rgba(0,0,0,0.2) inset !important;
}

/* Buttons */
.pweb-form-black form.pwebcontact-form button,
.pweb-form-black form.pwebcontact-form .btn {
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border: 1px solid;
	border-color: #000;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	background: #000;
	background-image: -moz-linear-gradient(top,#333,#000);
	background-image: -ms-linear-gradient(top,#333, #000);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#000));
	background-image: -webkit-linear-gradient(top,#333,#000);
	background-image: -o-linear-gradient(top,#333,#000);
	background-image: linear-gradient(to bottom,#333,#000);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
/* Buttons shadow */
.pweb-form-black.pweb-shadow form.pwebcontact-form button,
.pweb-form-black.pweb-shadow form.pwebcontact-form .btn {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* Buttons on mouse over */
.pweb-form-black form.pwebcontact-form button:hover,
.pweb-form-black form.pwebcontact-form .btn:hover {
	background-color: #000;
	background-position: 0 -30px;
}

/* Labels over fields */
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-text label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-name label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-email label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-phone label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-subject label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-password label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-date label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-textarea label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-select label,
.pweb-form-black.pweb-labels-over form.pwebcontact-form .pweb-field-multiple label {
	color: #aaa;
}

/* Calendar button */
.pweb-form-black form.pwebcontact-form .pweb-calendar-btn {
	
}
/* Upload progress */
.pweb-form-black .pweb-uploader .progress.progress-striped .bar.progress-bar {
	background-color: #000;
	background-image: none;
}