/**
* @version 3.1.4
* @package PWebContact
* @copyright © 2013 Perfect Web sp. z o.o., All rights reserved. http://www.perfect-web.co
* @license GNU General Public License http://www.gnu.org/licenses/gpl-3.0.html
* @author Piotr Moćko
*/

/* Font family and size */
.pweb-form-blue .pwebcontact-box,
.pweb-form-blue form.pwebcontact-form label
.pweb-form-blue form.pwebcontact-form input,
.pweb-form-blue form.pwebcontact-form textarea,
.pweb-form-blue form.pwebcontact-form select,
.pweb-form-blue form.pwebcontact-form button,
.pweb-form-blue form.pwebcontact-form .btn {
	font-size: 12px;
}

/* Links */
.pweb-form-blue form.pwebcontact-form a {
  color: #0065ec;
	text-decoration: none;
	background: none;
}
.pweb-form-blue form.pwebcontact-form a:hover {
    text-decoration: underline;
}

/* Labels invalid */
.pweb-form-blue form.pwebcontact-form .invalid,
.pweb-form-blue form.pwebcontact-form .invalid a {
	color: #f00 !important;
}
/* Fields */
.pweb-form-blue form.pwebcontact-form input.pweb-input, 
.pweb-form-blue form.pwebcontact-form select, 
.pweb-form-blue form.pwebcontact-form textarea {
	background-color: #fff;
	border:none
	color: #434343;
  font-size:14px;
  font-style:italic;
  border-color: #75b8f6 #4893d7 #75b8f6 #75b8f6;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 3px 1px 1px;
}
/* Fields shadow */
.pweb-form-blue.pweb-shadow form.pwebcontact-form input.pweb-input, 
.pweb-form-blue.pweb-shadow form.pwebcontact-form select, 
.pweb-form-blue.pweb-shadow form.pwebcontact-form textarea {
	-webkit-box-shadow: 0 0 5px #bbb, 0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 5px #bbb, 0 1px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 5px #bbb, 0 1px 2px rgba(0,0,0,0.2) inset;
}
/* Fields invalid */
.pweb-form-blue form.pwebcontact-form input.invalid.pweb-input, 
.pweb-form-blue form.pwebcontact-form select.invalid, 
.pweb-form-blue form.pwebcontact-form textarea.invalid { 
	border-color: #f00 !important;
	-webkit-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	-moz-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
}
/* Fields active */
.pweb-form-blue form.pwebcontact-form input.pweb-input:focus, 
.pweb-form-blue form.pwebcontact-form select:focus, 
.pweb-form-blue form.pwebcontact-form textarea:focus {

}

/* Buttons */
.pweb-form-blue form.pwebcontact-form button,
.pweb-form-blue form.pwebcontact-form .btn {
  display:block;
  background: none repeat scroll 0 0 #f4ce3b;
  border-radius: 0;
  color: #545454;
  display: block;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px 60px;
  text-decoration: none;
  text-transform:uppercase;
  border:none
}
/* Buttons on mouse over */
.pweb-form-blue form.pwebcontact-form button:hover,
.pweb-form-blue form.pwebcontact-form .btn:hover {
	background:#4082a4;
  color:#fff
}

/* Labels over fields */
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-text label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-name label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-email label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-phone label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-subject label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-password label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-date label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-textarea label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-select label,
.pweb-form-blue.pweb-labels-over form.pwebcontact-form .pweb-field-multiple label {
	color: #878787;
  font-size:12px;
  font-style:italic
}

/* Calendar button */
.pweb-form-blue form.pwebcontact-form .pweb-calendar-btn {
	
}
/* Upload progress */
.pweb-form-blue .pweb-uploader .progress.progress-striped .bar.progress-bar {
	background-color: #006dcc;
	background-image: none;
}