/**
* @version 3.1.4
* @package PWebContact
* @copyright © 2013 Perfect Web sp. z o.o., All rights reserved. http://www.perfect-web.co
* @license GNU General Public License http://www.gnu.org/licenses/gpl-3.0.html
* @author Piotr Moćko
*/

/* Font family and size */
.pweb-form-green .pwebcontact-box,
.pweb-form-green form.pwebcontact-form label
.pweb-form-green form.pwebcontact-form input,
.pweb-form-green form.pwebcontact-form textarea,
.pweb-form-green form.pwebcontact-form select,
.pweb-form-green form.pwebcontact-form button,
.pweb-form-green form.pwebcontact-form .btn {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
  font-weight:100;
}

/* Links */
.pweb-form-green form.pwebcontact-form a {
	text-decoration: none;
	background: none;
}
.pweb-form-green form.pwebcontact-form a:hover {
    text-decoration: underline;
}

/* Labels invalid */
.pweb-form-green form.pwebcontact-form .invalid,
.pweb-form-green form.pwebcontact-form .invalid a {
	color: #f00 !important;
}
/* Fields */
.pweb-form-green form.pwebcontact-form input.pweb-input, 
.pweb-form-green form.pwebcontact-form select, 
.pweb-form-green form.pwebcontact-form textarea {
	background: #fff;
	color: #000000;
  border:none;
	box-shadow: 0 1px 1px #ddd inset;
}
/* Fields shadow */
.pweb-form-green.pweb-shadow form.pwebcontact-form input.pweb-input, 
.pweb-form-green.pweb-shadow form.pwebcontact-form select, 
.pweb-form-green.pweb-shadow form.pwebcontact-form textarea {
	-webkit-box-shadow: 0 0 5px #bbb, 0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 5px #bbb, 0 1px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 5px #bbb, 0 1px 2px rgba(0,0,0,0.2) inset;
}
/* Fields invalid */
.pweb-form-green form.pwebcontact-form input.invalid.pweb-input, 
.pweb-form-green form.pwebcontact-form select.invalid, 
.pweb-form-green form.pwebcontact-form textarea.invalid { 
	border-color: #f00 !important;
	-webkit-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	-moz-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
}
/* Fields active */
.pweb-form-green form.pwebcontact-form input.pweb-input:focus, 
.pweb-form-green form.pwebcontact-form select:focus, 
.pweb-form-green form.pwebcontact-form textarea:focus {
	
}

/* Buttons */
.pweb-form-green form.pwebcontact-form button,
.pweb-form-green form.pwebcontact-form .btn {
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: #51a351 #51a351 #3B893B;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	background: #1b9949;
	background-image: -moz-linear-gradient(top,#3dbc76,#1b9949);
	background-image: -ms-linear-gradient(top,#3dbc76, #1b9949);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#3dbc76),to(#1b9949));
	background-image: -webkit-linear-gradient(top,#3dbc76,#1b9949);
	background-image: -o-linear-gradient(top,#3dbc76,#1b9949);
	background-image: linear-gradient(to bottom,#3dbc76,#1b9949);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  font-size:18px;
  font-weight:700;
  letter-spacing:0px
}
/* Buttons shadow */
.pweb-form-green.pweb-shadow form.pwebcontact-form button,
.pweb-form-green.pweb-shadow form.pwebcontact-form .btn {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* Buttons on mouse over */
.pweb-form-green form.pwebcontact-form button:hover,
.pweb-form-green form.pwebcontact-form .btn:hover {
	background-color: #51a351;
	background-position: 0 -30px;
}

/* Labels over fields */
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-text label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-name label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-email label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-phone label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-subject label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-password label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-date label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-textarea label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-select label,
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-multiple label {
	color: #000;
  font-size:16px;
  font-weight:700;
  margin:0 0 5px
}

/* Calendar button */
.pweb-form-green form.pwebcontact-form .pweb-calendar-btn {
	
}
/* Upload progress */
.pweb-form-green .pweb-uploader .progress.progress-striped .bar.progress-bar {
	background-color: #51a351;
	background-image: none;
}