@font-face {
    font-family: "EntypoRegular";
    src: url("../fonts/entypo.eot");
    src: url("../fonts/entypo.eot") format("embedded-opentype"),
         url("../fonts/entypo.woff2") format("woff2"),
         url("../fonts/entypo.woff") format("woff"),
         url("../fonts/entypo.ttf") format("truetype"),
         url("../fonts/entypo.svg#EntypoRegular") format("svg");
  font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?tl3ki9');
	src:url('../fonts/icomoon.eot?#iefixtl3ki9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?tl3ki9') format('woff'),
		url('../fonts/icomoon.ttf?tl3ki9') format('truetype'),
		url('../fonts/icomoon.svg?tl3ki9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}