/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0 0 0 2.857142857142857%;
}
.col:first-child { margin-left: 0; }
/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
/*  GRID OF TWO   ============================================================================= */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48.57%;
}
/*  GRID OF THREE   ============================================================================= */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 65.71%;
}
.span_1_of_3 {
	width: 31.42%;
}
/*  GRID OF FOUR   ============================================================================= */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.28%;
}
.span_2_of_4 {
	width: 48.57%;
}
.span_1_of_4 {
	width: 22.85%;
}
/*  GRID OF FIVE   ============================================================================= */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.42%;
}
.span_3_of_5 {
	width: 58.85%;
}
.span_2_of_5 {
	width: 38.28%;
}
.span_1_of_5 {
	width: 17.71%;
}
/*  GRID OF SIX   ============================================================================= */
.span_6_of_6 {
	width: 100%;
}
.span_5_of_6 {
  	width: 82.85%;
}
.span_4_of_6 {
  	width: 65.71%;
}
.span_3_of_6 {
  	width: 48.57%;
}
.span_2_of_6 {
  	width: 31.42%;
}
.span_1_of_6 {
  	width: 14.28%;
}
/*  GRID OF SEVEN   ============================================================================= */
.span_7_of_7 {
	width: 100%;
}
.span_6_of_7 {
  	width: 85.30%;
}
.span_5_of_7 {
  	width: 70.61%;
}
.span_4_of_7 {
  	width: 55.91%;
}
.span_3_of_7 {
  	width: 41.22%;
}
.span_2_of_7 {
  	width: 26.53%;
}
.span_1_of_7 {
  	width: 11.83%;
}
/*  GRID OF EIGHT   ============================================================================= */
.span_8_of_8 {
	width: 100%;
}
.span_7_of_8 {
  	width: 87.14%;
}
.span_6_of_8 {
  	width: 74.28%;
}
.span_5_of_8 {
  	width: 61.42%;
}
.span_4_of_8 {
  	width: 48.57%;
}
.span_3_of_8 {
  	width: 35.71%;
}
.span_2_of_8 {
  	width: 22.85%;
}
.span_1_of_8 {
  	width: 10%;
}
/*  GRID OF NINE   ============================================================================= */
.span_9_of_9 {
	width: 100%;
}
.span_8_of_9 {
  	width: 88.57%;
}
.span_7_of_9 {
  	width: 77.14%;
}
.span_6_of_9 {
  	width: 65.71%;
}
.span_5_of_9 {
  	width: 54.28%;
}
.span_4_of_9 {
  	width: 42.85%;
}
.span_3_of_9 {
  	width: 31.42%;
}
.span_2_of_9 {
  	width: 20%;
}
.span_1_of_9 {
  	width: 8.571%;
}
/*  GRID OF TEN   ============================================================================= */
.span_10_of_10 {
	width: 100%;
}
.span_9_of_10 {
  	width: 89.71%;
}
.span_8_of_10 {
  	width: 79.42%;
}
.span_7_of_10 {
  	width: 69.14%;
}
.span_6_of_10 {
  	width: 58.85%;
}
.span_5_of_10 {
  	width: 48.57%;
}
.span_4_of_10 {
  	width: 38.28%;
}
.span_3_of_10 {
  	width: 28%;
}
.span_2_of_10 {
  	width: 17.71%;
}
.span_1_of_10 {
  	width: 7.428%;
}
/*  GRID OF ELEVEN   ============================================================================= */
.span_11_of_11 {
	width: 100%;
}
.span_10_of_11 {
  	width: 90.64%;
}
.span_9_of_11 {
  	width: 81.29%;
}
.span_8_of_11 {
  	width: 71.94%;
}
.span_7_of_11 {
  	width: 62.59%;
}
.span_6_of_11 {
  	width: 53.24%;
}
.span_5_of_11 {
  	width: 43.89%;
}
.span_4_of_11 {
  	width: 34.54%;
}
.span_3_of_11 {
  	width: 25.19%;
}
.span_2_of_11 {
  	width: 15.84%;
}
.span_1_of_11 {
  	width: 6.493%;
}
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}
.span_11_of_12 {
  	width: 91.42%;
}
.span_10_of_12 {
  	width: 82.85%;
}
.span_9_of_12 {
  	width: 74.28%;
}
.span_8_of_12 {
  	width: 65.71%;
}
.span_7_of_12 {
  	width: 57.14%;
}
.span_6_of_12 {
  	width: 48.57%;
}
.span_5_of_12 {
  	width: 40%;
}
.span_4_of_12 {
  	width: 31.42%;
}
.span_3_of_12 {
  	width: 22.85%;
}
.span_2_of_12 {
  	width: 14.28%;
}
.span_1_of_12 {
  	width: 5.714%;
}