/**
 * SqueezeBox - Expandable Lightbox
 *
 * Allows to open various content as modal,
 * centered and animated box.
 *
 * @version		1.3
 *
 * @license		MIT-style license
 * @author		Harald Kirschner <mail [at] digitarald.de>
 * @author		Rouven Weßling <me [at] rouvenwessling.de>
 * @copyright	Author
 */

#sbox-overlay {
	position: absolute;
	background:none;
	left: 0px;
	top: 0px;
}

#sbox-window {
	position: absolute;
	background-color: #fff;
	text-align: left;
	overflow: visible;
	padding: 30px 10px;
  height:auto !important;
  border:1px solid #bdc3c7; 
	/* invalid values, but looks smoother! */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
behavior: url(PIE.htc);
}

#sbox-window[aria-hidden=true],
#sbox-overlay[aria-hidden=true] {
	display: none;
}

#sbox-btn-close {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 9px;
	top: 9px;
	background: url(../images/modal/closebox.png) no-repeat center;
	border: none;
}
#sbox-btn-close.bottom {
	right: 9px;
  top:100%;
  width:auto;
  padding-right:25px;
  padding-bottom:5px;
  margin-top:-35px;
  background: url(../images/modal/closebox.png) no-repeat right center;
  font-family:"PT Sans", serif;
  font-weight:700;
}
#sbox-btn-close.bottom span {
	border-bottom:1px dashed #3498db
}
#sbox-btn-close.bottom:hover span {
	border-bottom:1px dashed #eeeff1
}

.sbox-loading #sbox-content {
	background-image: url(../images/modal/spinner.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#sbox-content {
	clear: both;
	overflow: auto;
  padding:0 20px;
	height: 100%;
	width: auto;
  background:none;
}

.sbox-content-image#sbox-content {
	overflow: visible;
}

#sbox-image {
	display: block;
}

.sbox-content-image img {
	display: block;
	width: 100%;
	height: 100%;
}

.sbox-content-iframe#sbox-content {
	overflow: visible;
}

/* Hides scrollbars */
.body-overlayed {
	overflow: auto;
}

/* Hides flash (Firefox problem) and selects (IE) */
.body-overlayed embed, .body-overlayed object, .body-overlayed select {
	visibility: hidden;
}

#sbox-window embed, #sbox-window object, #sbox-window select {
	visibility: visible;
}

/* Shadows */
#sbox-window.shadow {
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 85, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 85, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 85, 0.2);
behavior: url(PIE.htc);
background:url(../images/modal-bg.png) left bottom repeat-x #fff
}

.sbox-bg {
	position: absolute;
	width: 33px;
	height: 40px;
}

.sbox-bg-n {
	left: 0;
	top: -40px;
	width: 100%;
	background: url(../images/modal/bg_n.png) repeat-x;
}
.sbox-bg-ne {
	right: -33px;
	top: -40px;
	background: url(../images/modal/bg_ne.png) no-repeat;
}
.sbox-bg-e {
	right: -33px;
	top: 0;
	height: 100%;
	background: url(../images/modal/bg_e.png) repeat-y;
}
.sbox-bg-se {
	right: -33px;
	bottom: -40px;
	background: url(../images/modal/bg_se.png) no-repeat;
}
.sbox-bg-s {
	left: 0;
	bottom: -40px;
	width: 100%;
	background: url(../images/modal/bg_s.png) repeat-x;
}
.sbox-bg-sw {
	left: -33px;
	bottom: -40px;
	background: url(../images/modal/bg_sw.png) no-repeat;
}
.sbox-bg-w {
	left: -33px;
	top: 0;
	height: 100%;
	background: url(../images/modal/bg_w.png) repeat-y;
}
.sbox-bg-nw {
	left: -33px;
	top: -40px;
	background: url(../images/modal/bg_nw.png) no-repeat;
}
@-moz-document url-prefix() {
    .body-overlayed {
	overflow: auto;
    }
}
@media (max-width: 979px) {
	#sbox-window {
		overflow: none;
	}
}
@media (max-device-width: 979px) {
	#sbox-content {
		-webkit-overflow-scrolling: touch;
	}
	#sbox-content.sbox-content-iframe {
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

#sbox-window .modalDialog ul li.clearList{
  clear:both;
  width:100%;
  text-align:center;
  margin:0;
  padding:20px 0 0
}