table.plots1 {border-collapse:collapse; border:2px solid #2D8ECF; border-spacing: 0; }
table.plots1 tr.title   {color: #FFFFFF; background:#2D8ECF; text-align:center; padding: 0 5px 0 5px; }
table.plots1 tr.heading {border:1px solid #FFFFFF; background:#D9D9D9; text-align:center; padding: 0 5px 0 5px; }
table.plots1 tr.odd     {border:1px solid #CECACA; background:#F7FFB5; padding: 0 5px 0 5px;}
table.plots1 tr.even    {border:1px solid #CECACA; background:#FFFFFF; padding: 0 5px 0 5px;}
table.plots1 td         {padding: 0 5px 0 5px;}

#chart_4 text{background:#ff0000}
