#shadowbox_overlay {
	visibility: hidden;
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 998;
}

#shadowbox_container {
	position: fixed;
	height: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 999;
	text-align: center;
}

#shadowbox {
	display: none;
	visibility: hidden;
	margin: 0 auto;
	position: relative;
	font-family: 'Lucida Grande', Tahoma, sans-serif;
	text-align: left;
	color: #888;
}

#shadowbox_title {
	height: 30px;
	padding: 0;
	overflow: hidden;
}

#shadowbox_title_inner {
	height: 16px;
	font-size: 16px;
	line-height: 16px;
	white-space: nowrap;
	padding: 10px 0 4px 10px;
	background-color: #fff;
}

#shadowbox_body {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 10px solid #fff;
	background-color: #eee;
}

#shadowbox_body_inner {
	position: relative;
	overflow: hidden;
}

#shadowbox_loading {
	position: absolute;
	top: 0;
	left: 0;
	height: 10000px;
	width: 100%;
	background-color: #ccc;
}

#shadowbox_loading img {
	float: left;
	margin: 10px 10px 0 10px;
}

#shadowbox_loading span {
	float: left;
	margin-top: 16px;
	font-size: 10px;
}

#shadowbox_loading span a,#shadowbox_loading span a:link,#shadowbox_loading span a:visited
	{
	color: #fff;
}

#shadowbox_content.html {
	height: 100%;
	width: 100%;
	overflow: auto;
}

#shadowbox_toolbar {
	margin: 0;
	padding: 0;
	height: 26px;
	overflow: hidden;
}

#shadowbox_toolbar_inner {
	height: 26px;
	background-color: #fff;
}

#shadowbox_toolbar_inner div {
	padding-top: 6px;
	font-size: 10px;
	height: 10px;
	line-height: 10px;
}

#shadowbox_toolbar_inner div span.shortcut {
	text-decoration: underline;
	font-weight: bold;
}

#shadowbox_toolbar_inner div a {
	text-decoration: none;
	color: #888;
}

#shadowbox_nav_close,#shadowbox_nav_previous,#shadowbox_nav_next {
	float: right;
	padding-right: 10px;
}

#shadowbox_counter {
	float: left;
	padding-left: 10px;
}

#shadowbox_counter a {
	padding: 0 4px 0 0;
}

#shadowbox_counter a.shadowbox_counter_current {
	text-decoration: underline;
	font-weight: bold;
}

div.shadowbox_message {
	text-align: center;
	padding: 10px;
}

div.shadowbox_message a:link,div.shadowbox_message a:visited {
	text-decoration: none;
	color: #bed333;
}

div.shadowbox_message a:hover,div.shadowbox_message a:focus {
	text-decoration: underline;
}