/* CSS for Glossary component admin */

/* Control panel - dashboard */
.cpanel div.icon, #cpanel div.icon {
    text-align: center;
    margin-right: 15px;
    float: left;
    margin-bottom: 15px;

}

.cpanel div.icon a, #cpanel div.icon a {
    background-color: #fff;
    background-position: -30px;
    display: block;
    float: left;
    height: 97px;
    width: 118px;
    color: #565656;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
    background-position: 0;
    -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
}

#cpanel img,
.cpanel img {
    padding: 10px 0;
    margin: 0 auto;
}

#cpanel span,
.cpanel span {
    display: block;
    text-align: center;
}

div.cpanel-left {
    width: 54%;
    float: left;
}

div.cpanel-right {
    width: 45%;
    float: right;
}

/* Pane sliders */
.pane-sliders {
    margin: 18px 0 0 0;
    position: relative;
}

.pane-sliders .title {
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 15px;
    cursor: pointer;
}

.pane-sliders .panel {
    margin-bottom: 3px;
}

.pane-sliders .panel h3 {
}

.pane-sliders .content {
}

.pane-toggler span {
}

.pane-toggler-down span {
}

.pane-toggler-down {
}

/*common*/
.glossarymain label, .glossarymain span.faux-label {
    min-width: 200px;
    padding: 0 5px 0 0;
    clear: left;
    display: block;
    float: left;
    margin: 5px 0;
}

.glossarymain .radio span {
    clear: none;
    display: inline;
    float: left;
    min-width: 30px;
    padding-left: 3px;
    padding-right: 10px;
    margin-top: 2px;

}

.glossarymain .radio input[type="radio"], .glossarymain .checkbox input[type="checkbox"] {
    margin-left: 0px;
}

ul.adminformlist, ul.adminformlist li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.adminlist .container{width: 100% !important;}
.adminlist .container:after{width: 100% !important;}
#glossaryheader .js-stools-container-bar #filter_search{width: 220px;}
#glossaryheader .js-stools-container-bar #filter_defn{width: 240px;}
#glossaryheader .js-stools-container-bar .btn-wrapper {
    display: inline-block;
    margin: 0 5px 0 0;
}
/*
.icon-48-glossary {
    background-image: url(/components/com_glossary/images/glosslogo-48.png);
}

div label {
    width: 25%;
    display: block;
    margin-top: 5px;
    padding-right: 10px;
    float: left;
    clear: left;
    text-align: right;
}

input, select.glossary, span.glossary {
    margin-top: 5px;
    text-align: left;
    display: block;
    float: left;
}

th {
    text-align: left;
}

td {
    vertical-align: top;
}

#glossarylist p {
    margin: 0;
}

.widthspec {
    width: 70%;
    display: block;
    float: left;
}

.clear {
    clear: left;
}

.glossarytitle {
    width: 50%;
}

input.glossdefinition {
    width: 90%;
}*/
