/**
 * @copyright	Copyright (C) 2005 - 2014 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

body {
	background: #fff;
	font-family: Tahoma,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	font-size: 76%;
	color: #333;
}

h1 {
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666;
}

h2 {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 45px;
  text-align: center;
}

h3 {
  color: #2c3e50;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.34;
    margin: 0 0 15px;
    text-align: left;
}

h4 {
	color: #000;
    font-family: "PT Sans",serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
h6{
    color: #000;
    cursor: default;
    font-family: "PT Sans",serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    line-height:1.3
}
.leftnav, .maintext{
  vertical-align:top
}
  table.media-item td.leftnav img{
    max-width: 100%; 
    margin: 0 0 20px;
  }
  table.media-item td.leftnav p{
    margin:0 0 15px;
    padding:0;
    color:#000;
    font-size:16px;
    font-weight:700;
    font-family:"PT Sans", serif;
  }
  table.media-item td.leftnav p.title{
    margin:0;
    padding:0;
    color:#2c3e50;
    font-size:13px;
    font-weight:normal;
    font-family:Arial, serif;
  }
ul{
  margin: 0 0 25px;
}
  ul li{
    color: #2c3e50;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 15px 20px;
  }
p {
    color: #2c3e50;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 24px;
}

a:link, a:visited {
    border-bottom: 1px solid #3498db;
    color: #000;
    font-family: "PT Sans",serif;
    font-size: 16px;
    font-weight: 700;
}

a:hover {
    border-bottom: 1px solid #fff;
}

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #666; text-align: center; }
p.intro     {
    font-size:18px;
    font-weight:100;
    text-align:left;
    color:#2c3e50;
    line-height:1.34;
    font-family:Arial, sans-serif
}

/* STYLES FOR JOOMLA! EDITOR */
hr#system-readmore  { border: red dashed 1px; color: red; }
hr.system-pagebreak { border: gray dashed 1px; color: gray; }