/**
* @version 3.2.1
* @package PWebContact
* @copyright © 2013 Perfect Web sp. z o.o., All rights reserved. http://www.perfect-web.co
* @license GNU General Public License http://www.gnu.org/licenses/gpl-3.0.html
* @author Piotr Moćko
*/

.pwebcontact-box,
form.pwebcontact-form .btn {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}


 /* Positions
  * --------------------------------------------------------------------- 
  */
.pweb-left, .pweb-right, .pweb-top, .pweb-bottom {
	position: fixed;
	z-index: 1030;
}

.pweb-left {
	left: 0;
}
.pweb-right {
	right: 0;
}
.pweb-top {
	top: 0;
}
.pweb-bottom {
	bottom: 0;
}

.pweb-offset-left.pweb-top,
.pweb-offset-left.pweb-bottom {
	left: 20%;
}
.pweb-offset-right.pweb-top,
.pweb-offset-right.pweb-bottom {
	right: 20%;
}
.pweb-offset-top.pweb-left,
.pweb-offset-top.pweb-right {
	top: 20%;
}


 /* Toggler
  * --------------------------------------------------------------------- 
  */
.pwebcontact_toggler {
	position: relative;
	z-index: 1;
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
}
.pwebcontact_toggler:hover {
	color: inherit;
	text-decoration: none;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
.pweb-vertical.pweb-left .pwebcontact_toggler,
.pweb-vertical.pweb-right .pwebcontact_toggler {
	width: 30px;
	height: 120px;
	padding: 10px 5px;
}
.pweb-toggler-hidden .pwebcontact_toggler.pweb-closed {
	
}

 /* Toggler Rounded
  * --------------------------------------------------------------------- 
  */
.pwebcontact_toggler.pweb-radius {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.pweb-left .pwebcontact_toggler.pweb-radius {
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
.pweb-right .pwebcontact_toggler.pweb-radius {
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
.pweb-top .pwebcontact_toggler.pweb-radius {
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.pweb-bottom .pwebcontact_toggler.pweb-radius {
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}


 /* Vertical Toggler text
  * --------------------------------------------------------------------- 
  */
.pweb-vertical.pweb-left .pwebcontact_toggler .pweb-text,
.pweb-vertical.pweb-right .pwebcontact_toggler .pweb-text {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: left top;
}
.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-opened .pweb-text,
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-opened .pweb-text {
	background-position: right top;
}
.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-rotate .pweb-text,
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-rotate .pweb-text {
	background-position: left bottom;
}
.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-rotate.pweb-opened .pweb-text,
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-rotate.pweb-opened .pweb-text {
	background-position: right bottom;
}


 /* Toggler Icon
  * --------------------------------------------------------------------- 
  */
.pwebcontact_toggler.pweb-icon {
	padding: 5px 40px 5px 10px;
}
.pweb-horizontal.pweb-right .pwebcontact_toggler.pweb-icon {
	padding: 5px 10px 5px 40px;
}
.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-icon,
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-icon {
	padding: 40px 5px 10px 5px;
}

.pwebcontact_toggler.pweb-icon .pweb-icon {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	background-repeat: no-repeat;
	background-position: center top;
}
.pwebcontact_toggler.pweb-icon-icomoon .pweb-icon:before {
	font-family: 'IcoMoon';
	speak: none;
}
.pwebcontact_toggler.pweb-icon-gallery.pweb-opened .pweb-icon {
	background-position: center bottom;
}
.pweb-horizontal.pweb-right .pwebcontact_toggler.pweb-icon .pweb-icon {
	left: 5px;
	right: auto;
}


 /* Toggler - Slide in box
  * --------------------------------------------------------------------- 
  */
.pwebcontact.pweb-slidebox .pwebcontact_toggler {
	position: absolute;
	z-index: 1;
}
.pwebcontact.pweb-slidebox.pweb-horizontal.pweb-left .pwebcontact_toggler {
	top: 0;
	left: 0;
}
.pwebcontact.pweb-slidebox.pweb-horizontal.pweb-right .pwebcontact_toggler {
	top: 0;
	right: 0;
}
.pwebcontact.pweb-slidebox.pweb-vertical.pweb-left .pwebcontact_toggler {
	top: 10px;
	left: 0;
}
.pwebcontact.pweb-slidebox.pweb-vertical.pweb-right .pwebcontact_toggler {
	top: 10px;
	right: 0;
}
.pwebcontact.pweb-slidebox.pweb-top .pwebcontact_toggler {
	top: 0;
}
.pwebcontact.pweb-slidebox.pweb-bottom .pwebcontact_toggler {
	bottom: 0;
}
.pwebcontact.pweb-slidebox.pweb-offset-left.pweb-top .pwebcontact_toggler,
.pwebcontact.pweb-slidebox.pweb-offset-left.pweb-bottom .pwebcontact_toggler {
	left: 10px;
}
.pwebcontact.pweb-slidebox.pweb-offset-right.pweb-top .pwebcontact_toggler,
.pwebcontact.pweb-slidebox.pweb-offset-right.pweb-bottom .pwebcontact_toggler {
	right: 10px;
}

 /* Slide Toggler - Slide in box
  * --------------------------------------------------------------------- 
  */
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-vertical.pweb-left .pwebcontact_toggler {
	top: 0;
	left: auto;
	right: -42px;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-vertical.pweb-right .pwebcontact_toggler {
	top: 0;
	left: -42px;
	right: auto;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-top .pwebcontact_toggler {
	top: auto;
	bottom: -42px;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-bottom .pwebcontact_toggler {
	top: -42px;
	bottom: auto;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-offset-left.pweb-top .pwebcontact_toggler,
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-offset-left.pweb-bottom .pwebcontact_toggler {
	left: 0;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-offset-right.pweb-top .pwebcontact_toggler,
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-offset-right.pweb-bottom .pwebcontact_toggler {
	right: 0;
}


 /* Container
  * --------------------------------------------------------------------- 
  */
.pwebcontact-container {
	background-repeat: no-repeat !important;
	text-align: left;
}
.pweb-slidebox .pwebcontact-container,
.pweb-modal .pwebcontact-container {
	background-color: #FFF;
}


 /* Container - Slide in box
  * --------------------------------------------------------------------- 
  */
.pwebcontact.pweb-slidebox .pwebcontact-container {
	padding: 10px 10px 5px;
}
.pwebcontact.pweb-slidebox.pweb-left.pweb-horizontal .pwebcontact-container,
.pwebcontact.pweb-slidebox.pweb-right.pweb-horizontal .pwebcontact-container {
	padding-top: 30px;
}
.pwebcontact.pweb-slidebox.pweb-left.pweb-vertical .pwebcontact-container {
	padding-left: 50px;
}
.pwebcontact.pweb-slidebox.pweb-right.pweb-vertical .pwebcontact-container {
	padding-right: 50px;
}
.pwebcontact.pweb-slidebox.pweb-top .pwebcontact-container {
	padding-top: 50px;
}
.pwebcontact.pweb-slidebox.pweb-bottom .pwebcontact-container {
	padding-bottom: 50px;
}

 /* Box
  * --------------------------------------------------------------------- 
  */

.pwebcontact-box {
	position: relative;
	z-index: 0;
}

.pwebcontact.pweb-modal .pwebcontact-box {
	display: none;
}

.pwebcontact.pweb-slidebox .pwebcontact-box {
	position: absolute;
	max-width: 500px;
}

.pwebcontact.pweb-slidebox.pweb-left.pweb-horizontal .pwebcontact-box {
	top: 20px;
	left: 0;
}
.pwebcontact.pweb-slidebox.pweb-right.pweb-horizontal .pwebcontact-box {
	top: 20px;
	right: 0;
}
.pwebcontact.pweb-slidebox.pweb-left.pweb-vertical .pwebcontact-box {
	top: 0;
	left: 0;
}
.pwebcontact.pweb-slidebox.pweb-right.pweb-vertical .pwebcontact-box {
	top: 0;
	right: 0;
}
.pwebcontact.pweb-slidebox.pweb-top .pwebcontact-box {
	top: 0;
}
.pwebcontact.pweb-slidebox.pweb-bottom .pwebcontact-box {
	bottom: 0;
}
.pwebcontact.pweb-slidebox.pweb-top.pweb-offset-left .pwebcontact-box,
.pwebcontact.pweb-slidebox.pweb-bottom.pweb-offset-left .pwebcontact-box  {
	left: 0;
}
.pwebcontact.pweb-slidebox.pweb-top.pweb-offset-right .pwebcontact-box,
.pwebcontact.pweb-slidebox.pweb-bottom.pweb-offset-right .pwebcontact-box {
	right: 0;
}

 /* Container with slide Toggler - Slide in box
  * --------------------------------------------------------------------- 
  */
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-left.pweb-vertical .pwebcontact-container {
	padding-left: 10px;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-right.pweb-vertical .pwebcontact-container {
	padding-right: 10px;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-top .pwebcontact-container {
	padding-top: 10px;
}
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-bottom .pwebcontact-container {
	padding-bottom: 5px;
}

 /* Container Rounded - Slide in box
  * --------------------------------------------------------------------- 
  */
.pwebcontact.pweb-slidebox.pweb-left.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
.pwebcontact.pweb-slidebox.pweb-right.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
.pwebcontact.pweb-slidebox.pweb-left.pweb-toggler-slide.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 0 0 10px 0;
	-moz-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;
}
.pwebcontact.pweb-slidebox.pweb-right.pweb-toggler-slide.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
}
.pwebcontact.pweb-slidebox.pweb-top.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.pwebcontact.pweb-slidebox.pweb-bottom.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.pwebcontact.pweb-slidebox.pweb-top.pweb-toggler-slide.pweb-offset-left.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 0 0 10px 0;
	-moz-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;
}
.pwebcontact.pweb-slidebox.pweb-top.pweb-toggler-slide.pweb-offset-right.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
}
.pwebcontact.pweb-slidebox.pweb-bottom.pweb-toggler-slide.pweb-offset-left.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 0 10px 0 0;
	-moz-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
}
.pwebcontact.pweb-slidebox.pweb-bottom.pweb-toggler-slide.pweb-offset-right.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0;
}


 /* Shadow
  * --------------------------------------------------------------------- 
  */
.pwebcontact.pweb-slidebox.pweb-shadow .pwebcontact-container {
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.pwebcontact_toggler.pweb-shadow {
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.pwebcontact.pweb-offset-left.pweb-top .pwebcontact_toggler.pweb-shadow {
	-moz-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.25);
}
.pwebcontact.pweb-offset-left.pweb-bottom .pwebcontact_toggler.pweb-shadow {
	-moz-box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.25);
}
.pwebcontact.pweb-offset-right.pweb-top .pwebcontact_toggler.pweb-shadow {
	-moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
}
.pwebcontact.pweb-offset-right.pweb-bottom .pwebcontact_toggler.pweb-shadow {
	-moz-box-shadow: 1px -3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 1px -3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 1px -3px 3px rgba(0, 0, 0, 0.25);
}
.pwebcontact.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-shadow {
	-moz-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.25);
}
.pwebcontact.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-shadow {
	-moz-box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.25);
}


 /* Lightbox Window
  * ---------------------------------------------------------------------
  */
.pwebcontact-modal.modal {
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 10px !important;
	border: 0 !important;
	background: none !important;
	overflow-x: auto;
    overflow-y: scroll;
    -moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
body.pweb-modal-open {
	overflow: hidden; /* hide body scrollbar */
}
.pwebcontact-box.pweb-modal {
	margin: 30px auto !important;
	width: auto !important;
	min-width: 200px;
	max-width: 600px;
	height: auto !important;
	min-height: 200px;
	padding: 0;
}
.pwebcontact-box.pweb-modal .pwebcontact-container {
	padding: 15px;
}
.pweb-modal.modal {
	padding: 10px;
}
.pweb-modal.modal .modal-body {
	min-height: 400px
}
.pweb-modal.modal .modal-body.pweb-progress {
	background: url(../images/loading.gif) no-repeat center center;
}

/* Lightbox - Container Rounded */
.pwebcontact-box.pweb-modal.pweb-radius .pwebcontact-container {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* Lightbox - Shadow */
.pwebcontact-box.pweb-modal.pweb-shadow .pwebcontact-container {
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
/* Lightbox - close button */
.pweb-modal-close {
	background: url("../../system/images/modal/closebox.png") no-repeat center !important;
	display: block;
	width: 30px !important;
	height: 30px !important;
	right: -15px;
	top: -15px;
	position: absolute;
	cursor: pointer;
	border: none !important;
	padding: 0 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

 /* Global form declarations
  * ---------------------------------------------------------------------
  */
form.pwebcontact-form {
    margin: 0;
}
form.pwebcontact-form .pweb-field-container {
	margin-bottom: 8px;
}
form.pwebcontact-form .pweb-label,
form.pwebcontact-form .pweb-field {
	float: none;
	width: 100%;
  margin:0 0 10px
}
form.pwebcontact-form .pweb-label label {
	display: block;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	width: auto;
	max-width: 100%;
}
form.pwebcontact-form fieldset label {
	word-wrap: break-word;
}


 /* System message
  * ---------------------------------------------------------------------
  */
form.pwebcontact-form .pweb-msg {
}
form.pwebcontact-form .pweb-msg .pweb-progress {
	padding-left: 20px;
	background: url(../images/loading.gif) no-repeat 0 0;
}
form.pwebcontact-form .pweb-msg .pweb-success {
	color: #009E0A;
}
form.pwebcontact-form .pweb-msg .pweb-error {
	color: #A80000;
}
form.pwebcontact-form .pweb-msg-before {
	margin-bottom: 5px;
}
form.pwebcontact-form .pweb-msg-after {
	
}
form.pwebcontact-form .pweb-msg-button,
form.pwebcontact-form .pweb-msg-popup {
	display: inline-block;
}

/* Fields
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form input.pweb-input, 
form.pwebcontact-form select, 
form.pwebcontact-form textarea {
	float: none;
	padding: 5px 10px;
	margin: 0;
	width: 100%;
	outline: none;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
form.pwebcontact-form textarea {
	margin: 0 0 15px;
}
form.pwebcontact-form input.pweb-input, 
form.pwebcontact-form select {
	max-width: 100%;
	line-height: 10px;
	height: 40px;
}
form.pwebcontact-form select.pweb-multiple {
	height: auto;
}
form.pwebcontact-form select {
	padding-right: 2px;
}
form.pwebcontact-form textarea {
	height: auto !important;
	min-height: 70px;
}
form.pwebcontact-form input.pweb-input:focus, 
form.pwebcontact-form select:focus, 
form.pwebcontact-form textarea:focus {
	-webkit-transition: border .2s linear, box-shadow .2s linear;
	-moz-transition: border .2s linear, box-shadow .2s linear;
	-o-transition: border .2s linear, box-shadow .2s linear;
	transition: border .2s linear, box-shadow .2s linear;
}

/* Checkboxes and radio group and single checkbox
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
form.pwebcontact-form fieldset label,
form.pwebcontact-form .pweb-field-checkbox label {
	display: block;
	padding-left:0; 
}
form.pwebcontact-form fieldset label.rokradios,
form.pwebcontact-form fieldset label.rokchecks,
form.pwebcontact-form .pweb-field-checkbox label.rokchecks {
	padding-left: 22px;
}
form.pwebcontact-form input.pweb-checkbox, 
form.pwebcontact-form input.pweb-radio {
	margin: 5px 0 0 0;
	float: left;
}
form.pwebcontact-form fieldset input,
form.pwebcontact-form .pweb-field-checkbox input {
	clear: both;
}
form.pwebcontact-form input[type="checkbox"] + label:before,
form.pwebcontact-form input[type="checkbox"]:checked + label:before {
	background: none;
	border: 0;
	content: "";
}

/* Buttons
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form button,
form.pwebcontact-form .btn {
	float: none;
	width: auto;
	height: auto;
	padding: 4px 12px;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
form.pwebcontact-form button:hover,
form.pwebcontact-form .btn:hover {
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
	-webkit-transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	-o-transition: background-color .1s linear;
	transition: background-color .1s linear;
}

/* Rounded fields and buttons
 * ---------------------------------------------------------------------
 */
.pweb-radius form.pwebcontact-form input.pweb-input, 
.pweb-radius form.pwebcontact-form select, 
.pweb-radius form.pwebcontact-form textarea {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  position:relative;
  z-index:2
}
.pweb-radius form.pwebcontact-form button,
.pweb-radius form.pwebcontact-form .btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* Shadow fields and buttons
 * ---------------------------------------------------------------------
 */
.pweb-shadow form.pwebcontact-form input.pweb-input, 
.pweb-shadow form.pwebcontact-form select, 
.pweb-shadow form.pwebcontact-form textarea {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 5px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.2) inset;
}
.pweb-shadow form.pwebcontact-form button {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
/* Fields invalid
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form input.invalid.pweb-input, 
form.pwebcontact-form select.invalid, 
form.pwebcontact-form textarea.invalid {
	border-color: #f00 !important;
	font-weight: normal;
	-webkit-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	-moz-box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
	box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0,0,0,0.2) inset !important;
}
/* Fields active
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form input.pweb-input:focus, 
form.pwebcontact-form select:focus, 
form.pwebcontact-form textarea:focus {
	outline: none;
}

/* Text separator
 * ---------------------------------------------------------------------
 */
.pweb-separator-text {
	line-height: 150%;
}

/* Labels invalid 
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form .invalid,
form.pwebcontact-form .invalid a {
	color: #f00 !important;
	font-weight: normal;
}

/* Labels inline with fields
 * ---------------------------------------------------------------------
 */
.pweb-labels-inline form.pwebcontact-form .pweb-field-container {
	margin-bottom: 12px;
}
.pweb-labels-inline form.pwebcontact-form .pweb-label {
	clear: both;
	float: left;
	width: 30%;
}
.pweb-labels-inline form.pwebcontact-form .pweb-field {
	float: left;
	width: 69.9%;
}
.pweb-labels-inline form.pwebcontact-form .pweb-field-checkbox .pweb-field {
	float: none;
	width: auto !important;
}

/* Labels above fields
 * ---------------------------------------------------------------------
 */
.pweb-labels-above form.pwebcontact-form .pweb-label {
	margin-bottom: 3px;
}

/* Labels over fields
 * ---------------------------------------------------------------------
 */
.pweb-labels-over form.pwebcontact-form .pweb-field-container {
	position: relative;
}
.pweb-labels-over form.pwebcontact-form .pweb-label {
	margin-bottom: 3px;
}
.pweb-labels-over form.pwebcontact-form .pweb-field-text .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-name .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-email .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-phone .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-subject .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-password .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-date .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-textarea .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-select .pweb-label,
.pweb-labels-over form.pwebcontact-form .pweb-field-multiple .pweb-label {
	z-index: 5;
	top: 0;
	left: 0;
	width: auto !important;
	margin-bottom: 0;
}
.pweb-labels-over form.pwebcontact-form .pweb-field-multiple .pweb-label {
	width: 100% !important;
	height: 100% !important;
}
.pweb-labels-over form.pwebcontact-form .pweb-field-text label,
.pweb-labels-over form.pwebcontact-form .pweb-field-name label,
.pweb-labels-over form.pwebcontact-form .pweb-field-email label,
.pweb-labels-over form.pwebcontact-form .pweb-field-phone label,
.pweb-labels-over form.pwebcontact-form .pweb-field-subject label,
.pweb-labels-over form.pwebcontact-form .pweb-field-password label,
.pweb-labels-over form.pwebcontact-form .pweb-field-date label,
.pweb-labels-over form.pwebcontact-form .pweb-field-textarea label,
.pweb-labels-over form.pwebcontact-form .pweb-field-select label,
.pweb-labels-over form.pwebcontact-form .pweb-field-multiple label {
	padding: 0;
	cursor: text;
	color: #aaa;
	text-shadow: none;
	white-space: nowrap;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.pweb-labels-over form.pwebcontact-form .pweb-field-multiple label {
	width: 100% !important;
	height: 100% !important;
}
.pweb-labels-over form.pwebcontact-form .pweb-field-multiple select.pweb-blank option {
	color: #fff !important;
	color: rgba(255,255,255,0) !important;
}

/* Captcha 
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form .pweb-field-captcha .pweb-field {
	overflow: auto;
}

/* Calendar
 * ---------------------------------------------------------------------
 */
body div.calendar { 
	z-index: 10000;
}
.pweb-field-date .pweb-field {
	position: relative;
	z-index: 0;
}
.pweb-calendar-btn {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	display: block;
	width: 26px;
	height: 18px;
	line-height: 18px;
	padding: 4px 0;
	cursor: pointer;
	text-align: center;
}

/* Icons
 * ---------------------------------------------------------------------
 */
.pweb-icomoon .icon-calendar,
.pweb-icomoon .icon-out,
.pweb-icomoon .icon-remove-sign {
	background-image: none !important;
	margin: 0;
}
.pweb-icomoon .icon-calendar:before,
.pweb-icomoon .icon-out:before,
.pweb-icomoon .icon-remove-sign:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
	background: none;
}
.pweb-icomoon .icon-calendar:before {
	content: "\43";
}
.pweb-icomoon .icon-out:before {
	content: "\26";
}
.pweb-icomoon .icon-remove-sign:before {
	content: "\4a";
}
.pweb-glyphicons .icon-calendar:before,
.pweb-glyphicons .icon-out:before,
.pweb-glyphicons .icon-remove-sign:before {
	font-family: none !important;
	content: "" !important;
}
.pweb-glyphicons .icon-out {
	background-position: -120px -72px;
}

/* Tooltip
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form .tooltip {
	position: absolute;
	z-index: 1030;
	visibility: visible;
	opacity: 0;
}
form.pwebcontact-form .tooltip.in {
	opacity: 0.8;
}
form.pwebcontact-form .tooltip-inner {
	color: #ffffff;
	background-color: #000000;
	padding: 8px;
}

/* Star of required fields
 * ---------------------------------------------------------------------
 */
form.pwebcontact-form label .pweb-asterisk {
	color: #f00;
	font-weight: bold;
}


/* Columns
 * ---------------------------------------------------------------------
 */
.pweb-column {
	float: left;
	margin-right: 2.8%;
}
.pweb-column:last-child {
	margin-right: 0;
}
.pweb-width-50 {
	width: 47%;
}
.pweb-width-50:last-child {
	width: 50%;
}
.pweb-width-33 {
	width: 30%;
}
.pweb-width-33:last-child {
	width: 33%;
}
.pweb-width-25 {
	width: 22%;
}
.pweb-width-25:last-child {
	width: 25%;
}
.pweb-width-20 {
	width: 17%;
}
.pweb-width-20:last-child {
	width: 20%;
}

/* phone */
@media (max-width: 480px) 
{
	/* disable columns */
	.pweb-column,
	.pweb-column:last-child {
		float: none;
		width: auto !important;
		margin-right: 0;
	}
	/* disable fields inline */
	.pweb-labels-inline form.pwebcontact-form .pweb-label {
		margin-bottom: 3px;
	}
	.pweb-labels-inline form.pwebcontact-form .pweb-label,
	.pweb-labels-inline form.pwebcontact-form .pweb-field {
		float: none;
		width: auto;
	}
}

/* phone landscape */
@media (min-width: 481px) and (max-width: 767px) 
{
	/* change 3, 4 and 5 columns into 2 */
	.pweb-width-33,
	.pweb-width-25,
	.pweb-width-20 {
		width: 47%;
	}
	.pweb-width-33:nth-child(even),
	.pweb-width-25:nth-child(even),
	.pweb-width-25:last-child,
	.pweb-width-20:nth-child(even) {
		width: 49.9%;
	}
	.pweb-width-33:last-child,
	.pweb-width-20:last-child {
		width: 100%;
	}
	/* disable fields inline only in columns */
	.pweb-labels-inline form.pwebcontact-form .pweb-column .pweb-label {
		margin-bottom: 3px;
	}
	.pweb-labels-inline form.pwebcontact-form .pweb-column .pweb-label,
	.pweb-labels-inline form.pwebcontact-form .pweb-column .pweb-field {
		float: none;
		width: auto;
	}
}

/* tablet and phone */
@media (min-width: 768px) and (max-width: 979px) 
{
	/* disable fields inline only in 4 and 5 columns */
	.pweb-labels-inline form.pwebcontact-form .pweb-column.pweb-width-25 .pweb-label,
	.pweb-labels-inline form.pwebcontact-form .pweb-column.pweb-width-20 .pweb-label {
		margin-bottom: 3px;
	}
	.pweb-labels-inline form.pwebcontact-form .pweb-column.pweb-width-25 .pweb-label,
	.pweb-labels-inline form.pwebcontact-form .pweb-column.pweb-width-20 .pweb-label,
	.pweb-labels-inline form.pwebcontact-form .pweb-column.pweb-width-25 .pweb-field,
	.pweb-labels-inline form.pwebcontact-form .pweb-column.pweb-width-20 .pweb-field {
		float: none;
		width: auto;
	}
}

/* Hide User data
 * ---------------------------------------------------------------------
 */
.pweb-hide-user form.pwebcontact-form .pweb-field-name,
.pweb-hide-user form.pwebcontact-form .pweb-field-email {
	display: none !important;
}

/* Errors
 * ---------------------------------------------------------------------
 */
.pweb-alert {
	position: fixed;
	z-index: 1060;
	top: 50%;
	left: 50%;
	width: 560px;
	max-height: 400px;
	margin: -200px 0 0 -280px;
	overflow: auto;
	background-color: #fcf8e3;
	-moz-box-shadow: 0 0 5px rgba(0,0,0, 0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0, 0.2);
	box-shadow: 0 0 5px rgba(0,0,0, 0.2);
}

/* Animations
 * ---------------------------------------------------------------------
 */
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}

.pweb-init {
	visibility: hidden;
}

/* Clearfix
 * ---------------------------------------------------------------------
 */
.pweb-fields:before, .pweb-fields:after,
.pweb-fields-group:before, .pweb-fields-group:after,
.pweb-field-container:before, .pweb-field-container:after,
.pweb-uploader .files > div:before, .pweb-uploader .files > div:after {
	content: "";
	display: table;
	line-height: 0;
}
.pweb-fields,
.pweb-fields:after,
.pweb-fields-group:after,
.pweb-field-container:after,
.pweb-uploader .files > div:after {
	clear: both;
}