body {
    height:100%;
    margin:0;
    padding:0;
}

#center {
    height: 200px;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

#loader {
    background-color: #ECF0F1;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    opacity: 0.5;
}