/* BASIC PAGE SETUP ============================================================================= */
html{
  margin:0;
  padding:0;
}
body { 
  margin : 0 auto;
  padding : 0;
  width:100%;
  min-width:1000px;
  font-family: 'PT Sans', sans-serif;	
  color : #000; 
  text-align: center;
  background: url(../images/header-bg.png) left top repeat-x #fff;
}

button, 
input, 
select, 
textarea { 
color : #333; }

/*  HEADINGS  ============================================================================= */

h1, h2, h3, h4, h5, h6 {
font-weight : normal;
margin-top: 10px;
letter-spacing:0px
font-family: 'PT Sans', sans-serif;
}

h1 { 
  color: #000;
  font-size : 36px;
  line-height : 1.2;
  letter-spacing:0px
}

h2 { 
  color: #000;
  margin-bottom : .5em;
  margin-top : .5em;
  font-size : 36px;
  line-height : 1.2;
  letter-spacing:0px
}

h3 { 
  text-align:center;
        font-size:22px;
        font-weight:700;
        margin:0 0 20px;
        color:#000}


h4 { 
  color: #000;
  font-size : 22px;
  line-height : 1.2;
  font-weight:normal;
  margin:0 0 15px;
  letter-spacing:0px 
}

h5 { 
color: #555;
margin-bottom : 1.25em;
letter-spacing:0px;
font-size : 1em; /* 20 / 16 */ }

h6 { 
color: #666;
font-size : 1em; /* 16 / 16  */ }

.header{
  margin:0 0 20px;
  text-align:center;
  background:url(../images/header-grey-bg.png) center center repeat-x
}
  .header h2{
    background:#fff;
    line-height:1;
    margin:0;
    padding:0 20px;
    display:inline-block;
    font-size:35px;
    font-weight:700
  }
/*  TYPOGRAPHY  ============================================================================= */

p, ol, ul, dl, address { 
margin-bottom : 1.5em; 
font-size : 1em; /* 16 / 16 = 1 */ }

p {
hyphens : auto;  }


p.introtext {
font-size : 2.5em; /* 40 / 16 */
color: #333;
line-height: 1.4em;
letter-spacing: -1px;
margin-bottom: 0.5em;
}


p.handwritten {
font-size: 1.375em; /* 24 / 16 */
line-height: 1.8em;
margin-bottom: 0.3em;
color: #666;
}

p.center {
text-align: center;
}


.and {
font-size: 1.5em; /* 24 / 16 */
}

.clear, .clr{clear:both}

.heart {
font-size: 1.5em; /* 24 / 16 */
}

ul, 
ol { 
margin :0; 
padding :0; }
 
li ul, 
li ol { 
margin : 0;
font-size : 1em; /* 16 / 16 = 1 */ }

dl, 
dd { 
margin-bottom : 1.5em; }

dt { 
font-weight : normal; }

b, strong { 
font-weight : 700; }

hr { 
display : block; 
margin : 1em 0; 
padding : 0;
height : 1px; 
border : 0; 
border-top : 1px solid #ccc;
}

small { 
font-size : 1em; /* 16 / 16 = 1 */ }

sub, sup { 
font-size : 75%; 
line-height : 0; 
position : relative; 
vertical-align : baseline; }

sup { 
top : -.5em; }

sub { 
bottom : -.25em; }

.subtext {
	color: #666;
	}

.bot-40{
  margin-bottom:40px !important
}
/* LINKS =============================================================================  */

a { 
color : #000;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
text-decoration: none;
border-bottom:1px solid #ff4400;
outline : none;
}

a:visited { 
color : #000; }

a:focus { 
outline : none; 
color : #000; }
 
a:active { 
outline : none;
}

a:hover { 
border-bottom:transparent;
}


/* IMAGES ============================================================================= */

img {
border : 0;
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
}

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }


/* TABLES ============================================================================= */

table { 
border-collapse : collapse;
border-spacing : 0;
margin-bottom : 0; 
width : 100%; }

th, td, caption { 
padding : 0; }

tfoot { 
font-style : italic; }

caption { 
background-color : transparent; }

/* FORMS ============================================================================= */

form { 
margin : 0; }

fieldset { 
margin-bottom : 1.5em; 
padding : 0; 
border-width : 0; }

legend { 
*margin-left : -7px; 
padding : 0; 
border-width : 0; }

label{
font-weight : normal;
cursor : pointer;
display:block;
margin:0;
position:relative;
top:0;
left:0;
}

	label.inline{
	display:inline;
	margin:0;
	}
	
	label span{
	color:#666;
	font-size:0.9em;
	}
	
	label span.right{
	position:absolute;
	bottom:0;
	right:1em;
	text-align:right;
	}
	
	label.disabled{
	color:#ccc;
	}


button, 
search,
input, 
select, 
textarea { 
font-size : 100%; 
margin : 0; 
vertical-align : baseline; 
*vertical-align : middle; }

button, input { 
line-height : normal; 
*overflow : visible; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
padding: 0.5em 1em;
margin: 0;
cursor : pointer; 
text-shadow:0 1px 0 #fff;
}

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
	box-sizing : content-box;
}

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0;  }

input{
margin:0;
border:1px solid #ccc;
font-size:1em;
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:#fff;
-moz-box-shadow:inset 0px 0px 6px #ccc;
-webkit-box-shadow:inset 0px 1px 6px #ccc;
box-shadow:inset 0px 1px 6px #ccc;
}

	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	.placeholder{
	color:#bbb;
	}
	
	input::-moz-focus-inner {border:0;}

	input[disabled="disabled"], input.disabled{
	color:#999;
	background:#f5f5f5;
	-moz-box-shadow:inset 0px 0px 2px #ddd;
	-webkit-box-shadow:inset 0px 1px 2px #ddd;
	box-shadow:inset 0px 1px 2px #ddd;
	}


/* Colors for form validity */
input:valid, 
textarea:valid   {  
/* Styles */ }

input:invalid, 
textarea:invalid {
-webkit-box-shadow : 0 0 2px #f00; 
-moz-box-shadow : 0 0 2px #f00;
box-shadow : 0 0 2px #f00; }

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
background-color : #ccc; }

/*  MAIN LAYOUT	============================================================================= */

.pad-sides-10-3{
  padding:0 10.3%
}

#skiptomain { display: none; }

#wrapper {
	width: 100%;
	/*max-width:1440px;*/
	margin:0 auto;
	position: relative;
	text-align: left;
}
.body-overlayed{
  z-index:10000000
}
.body-overlayed #wrapper{
  
}

	#headcontainer {
		width: 100%;
	}
	
	#headerbox {
		background: linear-gradient(#ffffff, #ecf0f1) repeat scroll 0 0 ;
		background: -webkit-linear-gradient(#ffffff, #ecf0f1);
		background: -moz-linear-gradient(#ffffff, #ecf0f1);
		background: -o-linear-gradient(#ffffff, #ecf0f1);
		background: -ms-linear-gradient(#ffffff, #ecf0f1);
		
	}

		header {
			clear: both;
      max-width: 1110px;
      min-width:1000px;
      text-align:left;
			margin: 0 auto;
			padding:25px 0 15px;
			position: relative;
			box-sizing: padding-box;
      -moz-box-sizing: padding-box;
      -webkit-box-sizing: padding-box;
		}
		header .section{
			padding:0 2.7%;
		}
		
		.site-description {
			text-transform:uppercase;
			font:bold 16px 'Roboto Condensed', sans-serif;
			letter-spacing: -0.015em;
		}
		

		
		  /* =============================================================== Logo */
		  header .logo {
		    display:inline-block;
  		  margin:0;
        padding:0;
        border:none	
  		}
  		/* =============================================================== Menu */
		  /*header .moduletable-mainmenu,*/ footer .moduletable-mainmenu  {
  		  margin:0 0 10px 30px;
        padding:0 12% 0 0;	
  		}
  		  header .moduletable-mainmenu ul, footer .moduletable-mainmenu ul {
          list-style-type:none;
          text-align: justify;
      		margin:0;
      		padding:0;
      		line-height: 0;		
      		text-justify: newspaper;	
    		} 
      		header .moduletable-mainmenu li, footer .moduletable-mainmenu li {
      		  margin:0;

            display: inline-block;
      			line-height: normal;			
      			vertical-align: top; 
      			//display : inline;
      			//zoom : 1;	
      		} 
			
			
          header .moduletable-mainmenu li.item-145, footer .moduletable-mainmenu li.item-145 {
            width: 100%; 
      			height: 0px;
      			visibility: hidden;
      			overflow: hidden;
          } 
        		header .moduletable-mainmenu li a, footer .moduletable-mainmenu li a {
        		  text-transform:uppercase;
              font-size:14px;
              font-weight:700;
              margin:0 0px;
              padding:4px 0 3px;
              line-height:1;
              /*letter-spacing:1.5px;*/
              display:inline-block;
              white-space: nowrap;
              font-family:"PT Sans", sans-serif	
        		}
        
				
			header .span_4_of_11 {
				margin-top:-0.5em;
			}
			
			header .span_4_of_8 {
				margin-left:-0.2em;
			}
            
			header .span_8_of_8 a {
				color:#ff4400;
				font:bold 17px Roboto, sans-serif;
			}
			
			
			header .span_8_of_8 p {
				font:15px Roboto, sans-serif;
			}
			
			header .span_8_of_8 {
				margin:0;
			}
			
			header .span_8_of_8 p {
				text-align:right;
				margin-bottom:1em;
			}
			
			header .span_8_of_8 a {
				float:right;
			}
			
								
			header .span_1_of_6 .moduletable .custom p {
				font:16px/1.5em Roboto, sans-serif;
				margin-top:0;
				margin-bottom:0;
			}
			
		#headerslider, #headernet {
			max-width:1109px;
			min-width:1000px;
			margin:0 auto;
			/*min-height:376px;*/
			height:376px;
		}
	
	#headerslidercontainer {
		height:/*400px*/;
		margin-top:/*-10px*/;
	}


	.hslidertext {
		height: 250px;
		left: 80px;
		position: relative;
		top: -40px;
		width: 570px;
		z-index: 1001;
		/*float:left;
		margin-left: 25px;
		margin-top: 17px;*/
	}

	.hslidertext h2 {
		font:bold 50px 'PT Sans';
		color:#ffffff;
		padding-left:30px;
	}
	.hslidertext p {
		font:15px/1.4em Roboto;
		color:#fcfdfd;
		background-color:rgba(0, 0, 0, 0.65);
		width:510px;
		height:108px;
		padding:25px 30px;
		border: 1px solid #000000;
		border:1px solid #ooo;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
	}

	.hns {
		 background: url("../images/hb.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
		 width:100%;
		 height:376px;
		 top: -376px;
		 position:relative;
		 z-index: 10;
	}

	/*=========================================================Конвеерная лента*/
	
	#klinebox, #kraznbox, #psnvrbox, #servicebox, #photogbox, #gorodabox, #newsbox {
		max-width:1110px;
		min-width:1000px;
		margin:0 auto;
		text-align:center;
	}
	
	#kraznbox {
		padding-bottom:2.4em;
	}

	#klinebox {
		padding-bottom:2em;
	}
	
	#konvlinecontainer .header, #konvrazncontainer .header, #photogalerycontainer .header, #newscontainer .header {
		background: url("../images/header-grey-bg.png") repeat-x scroll center center rgba(0, 0, 0, 0);
		margin: 0 30px 20px;
		text-align: center;
	}
		
	#konvlinecontainer .header h2, #konvrazncontainer .header h2, #photogalerycontainer .header h2 , #newscontainer .header h2{
		background: none repeat scroll 0 0 #fff;
		display: inline-block;
		line-height: 1;
		margin: 0;
		padding: 0 20px;
		font:bold 36px PT Sans, sans-serif;
		color:#ff6702;
	}
	
	#konvlinecontainer .header {
		margin: 2.6em auto 1.5em;
		max-width: 1110px;
	}
	
	#konvrazncontainer .header {
		margin: 3.5em auto 42px;
		max-width: 1110px;
	}
	
	#konvrazncontainer .header h2{
		font-size:26px;
	}
	
	#photogalerycontainer .header {
		margin: 0 auto 2.7em;
		max-width: 1110px;
	}
	
	#photogalerycontainer .header h2 {
		font-size:26px;
		color:#000;
	}
	
	#newscontainer .header {
		margin: 0 auto 1.4em;
		max-width: 1110px;
	}
	
	#klinebox p, #kraznbox p {
		font:300 16px/1.5em Roboto, sans-serif;
		padding:0 6em;
	}
	
	#klinebox .klinetb, #kraznbox .klinetb {
		font-weight:bold;
	}
	
	#kraznbox .offbut {
		width:331px;
		height:48px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
		background: linear-gradient(#8b8b8b, #424034) repeat scroll 0 0 rgba(0, 0, 0, 0);
		color:#fff;
		font:400 22px Roboto, sans-serif;
		text-shadow:none;
		padding:0;
		border: medium none;
		margin-top: 0.5em;
	}
	
	#psnvrcontainer {
		background-color:#ec6203;		
	}
	
	
	#psnvrbox {
		min-height:400px;
		margin-bottom:2.1em;
	}
	#psnvrbox h2 {
		font:33.78px MyriadProRegular, sans-serif;
		color:#ecf0f1;
		padding:40px 0 20px 0 ;
	}
	
	#psnvrbox h3 {
		font:bold 13px/1.2em Roboto, sans-serif;
		color:#ecf0f1;
		text-transform:uppercase;
		text-align:left;
		padding-right:1.3em;
		margin-bottom:0;
	}
	
	#psnvrbox p {
		font: 13px/1.23em Roboto, sans-serif;
		color:#fcd2b6;
		text-align:left;
		padding-right:1.05em;
		margin-top:0.5em;
	}
	
	#psnvrbox  img {
		float:left;
	}
	
	#psnvrbox .span_3_of_3 {
		margin-left:0;
		padding:0 1.8em;
		margin-bottom:0.3em;
	}
	
	#psnvrbox .span_2_of_3 {
		padding:0 0 0 0.7em;
	}
	#psnvrbox .span_1_of_3 {
		margin-left:0.5em;
	}
	
	#psnvrbox .span_3_of_3 .col:first-child {
		margin-left:0;
	}
	
	#psnvrbox .group .wrapper {
		padding:0!important;
	}
	
	#servicecontainer {
		background-color:#e7e7e7;
	}
	
	#servicebox {
		min-height:615px;
		padding-top: 1.5em;
	}
	
	#servicebox a {
		border:none;
	}
	
	#servicebox h3{
		font:20px Roboto, sans-serif;
		text-align:center;
		margin-top: 0.8em;
		padding: 0 1.3em;
	}
	
	#servicebox .span_4_of_4, #servicebox .span_1_of_4 {
		margin-left:0;
	}
	
	#servicebox .span_1_of_4 {
		padding-left:1.05em;
	}
	
	#servicebox .span_4_of_4 {
		padding-top:0.9em;
	}
	
	#servicebox .moduleItemIntrotext img {
		border-radius:50%;
	}
	
	#servicebox .moduleItemIntrotext img:hover {
		background-color:#cfcaca;
	}
	
	#photogbox {
		min-height:510px;
		margin-bottom:0.7em;
	}
	
	#photogbox a {
		border:none;
	}
	
	#photogbox h3 {
		font:16px/1.3em Roboto, sans-serif;
		text-align:center;
		padding-top:0.5em;
	}
	
	#photogbox .header {
		margin-bottom:2.7em;
	}
	
	#photogbox .span_4_of_4 {
		margin-bottom:0.5em;
		margin-left:auto;
		margin-right:auto;
	}
	
	#gorodacontainer {
		background-color:#413f33;
		border-top:1px solid #fff;
	}
	
	#gorodabox {
		height:394px;
		font:16px Roboto, sans-serif;
		color:#fff;
	}
	
	#gorodabox .gorod {
		column-count: 6;
		-moz-column-count: 6;
		-webkit-column-count: 6;
		text-align: justify;
		column-width: 150px;
		-moz-column-width: 150px;
		-webkit-column-width: 150px;
		column-gap: 20px;
		-moz-column-gap: 20px;
		-webkit-column-gap: 20px;
		padding:1.8em 2.2em;
	}
	
	#gorodabox ul li {
		text-decoration:none;
		list-style:none;
	}
	
	#gorodabox ul li a {
		border:0;
		color:#fff;
	}
	
	#gorodabox ul li a:hover {
		color:#ec6203;
	}
	
	
	#newscontainer {
		border-bottom:8px solid #e54c10;
	}
	
	#newsbox {
		min-height:215px;
	}
	
	#newsbox a {
		border:none;
	}
	
	#newsbox .header {
		margin-bottom:1.5em;
	}
	
.moduletablenews .span_1_of_4 h4 {
	font:bold 13px PT Sans;
	margin-bottom: 4px;
}
	#newsbox h3 {
		font:bold 16px 'PT Sans', sans-serif;
		text-align:center;
		margin-bottom:0;
	}
	
	#newsbox p {
		font:12px/1.65em 'PT Sans', sans-serif;
		text-align:left;
		color:#666666;
		padding:0 0.5em;
		letter-spacing: 0.05em;
		margin-top:0.2em;
		margin-bottom:2em;
	}

	#newsbox .span_4_of_4 {
		margin-left:0;
	}

	#newsbox .newsscroll .icon-left:before, #newsbox .newsscroll .icon-right:before {
		font-family: "fontello";
		font-weight:normal;
		font-size:30px;
          line-height:1;
		  position:relative;
		  top:0.2em;
	}
	
	#newsbox .newsscroll .icon-left:before{
          content:'\e801';
         }
		
	#newsbox .newsscroll .icon-right:before{
          content:'\e802';
        }
		
	.newsscroll {
		width:110px;
		margin:0 auto;
	}
	
	#newsbox .newsscroll a {
		float:left;
		  display:inline-block;
		  width:40px;
		  height:40px;
		  border-radius:20px;
		  color:#999999;
		  background-color:#f4f6f7;
		  margin:0 6px;
		  border:0;
	}
	
	#newsbox .newsscroll a:hover {
		background-color:#ecf0f1;
	}
	
	#newsbox .newsscroll a>div:hover {
		color:#000;
	}
	
	
	
	/* ============================================================ Domain Menu */	  
  #maindomaincontainer {
		width: 100%;
		border-top:1px solid #e0e0e0;
		box-shadow:0 4px 4px 0 #d6dadb
	}

		#maindomain {
			clear: both;
    	margin:0 auto;
      max-width: 1200px;
      min-width:1000px;
      text-align:left
			margin: 0 auto;
			padding:0;
			position: relative;
			box-sizing: padding-box;
      -moz-box-sizing: padding-box;
      -webkit-box-sizing: padding-box; 
      display:block;
		}
		  #maindomain .moduletable-mediamenu {
  		  margin:0;
        padding:30px 2.7% 26px;	
        position:relative;
  		}
  		  #maindomain .moduletable-mediamenu ul {
          list-style-type:none;
          text-align: justify;
		      margin:0;
		      padding:0;
		      line-height: 0;		
		      text-justify: newspaper;
    		}
      		#maindomain .moduletable-mediamenu li {
      		  margin:0;
            padding:0;
            display: inline-block;
      			line-height: normal;			
      			vertical-align: top; 
      			//display : inline;
      			//zoom : 1;	
      		}
      		#maindomain .moduletable-mediamenu li.item-144 { 
      			width: 100%; 
      			height: 0px;
      			visibility: hidden;
      			overflow: hidden;			
      		}
        		#maindomain .moduletable-mediamenu li a {
        		  display:inline-block;
        		  text-transform:uppercase;
              font-size:14px;
              font-weight:700;
              margin:0;
              padding:30px 0 3px;
              line-height:1;
              letter-spacing:0.5px;
              background-position:center top;
              background-repeat:no-repeat;
              -webkit-background-size: 20px 20px;
              -moz-background-size: 20px 20px;
              background-size: 20px 20px;
              white-space: nowrap;
              font-family:"PT Sans", serif
        		}
            
            /* =============================================================== 1280 */
            @media screen and (max-width: 1280px) {
              #maindomain .moduletable-mediamenu li a {
          		  font-size:13px;
          		}
            }
            
            #maindomain .moduletable-mediamenu li.item-130 a {background-image:url(../images/icons/tv.svg);background-position:left top;}
            #maindomain .moduletable-mediamenu li.item-131 a {background-image:url(../images/icons/radio.svg)}
            #maindomain .moduletable-mediamenu li.item-132 a {background-image:url(../images/icons/internet.svg);background-size:22px 22px;}
            #maindomain .moduletable-mediamenu li.item-133 a {background-image:url(../images/icons/newspaper.svg)}
            #maindomain .moduletable-mediamenu li.item-134 a {background-image:url(../images/icons/outdoor.svg)}
            #maindomain .moduletable-mediamenu li.item-135 a {background-image:url(../images/icons/transport.svg);background-size:25px 25px;}
            #maindomain .moduletable-mediamenu li.item-136 a {background-image:url(../images/icons/indoor.svg)}
            #maindomain .moduletable-mediamenu li.item-137 a {background-image:url(../images/icons/promo.svg);background-size:30px 30px;background-position:center -5px;} 
            #maindomain .moduletable-mediamenu li.item-138 a {background-image:url(../images/icons/exclusive.svg)}
		

	#maincontentcontainer {
		width: 100%;
		text-align:center
	} 
		.standardcontainer {
			
		}
		
		.darkcontainer {
			background: rgba(102, 102, 102, 0.05);
		}

		.lightcontainer {
			background: rgba(255, 255, 255, 0.33);
		}
		  /* ============================================================= Slider */
		  #maincontentcontainer .cover {
		    min-width:1000px;
		    height:480px;
		    overflow:hidden;
		    position:relative;
		    margin:0;
		    z-index:2;
		    text-align:left;
		    background-color:#456399;
		    background-image:url(../images/mountains.png);
        background-position:center top;
        background-repeat:no-repeat;
        background-size:auto 100%;
		    box-shadow: inset 0 -2px 8px 0px #456399
  		}
    		#maincontentcontainer .cover .wrapper {
  		    padding:60px 2.85714% 0
    		}
          #maincontentcontainer .cover .wrapper .section {
    		    max-width:1440px;
            margin:0 auto;
      		}
        		#maincontentcontainer .cover h1 {
      		    font-size:42px;
      		    color:#2c3e50;
      		    margin:0 0 25px;
      		    font-weight:700;
      		    line-height:1
        		}
  		/* =============================================================== 1550 */
      @media screen and (max-width: 1550px) {
        #maincontentcontainer .cover {
  		    height:470px;
    		}
      }
  		/* =============================================================== 1440 */
      @media screen and (max-width: 1440px) {
        #maincontentcontainer .cover {
  		    height:460px;
    		}
      }
      /* =============================================================== 1330 */
      @media screen and (max-width: 1330px) {
        #maincontentcontainer .cover {
  		    height:450px;
    		}
      }
      /* =============================================================== 1220 */
      @media screen and (max-width: 1220px) {
        #maincontentcontainer .cover {
  		    height:440px;
    		}
      }
      /* =============================================================== 1180 */
      @media screen and (max-width: 1180px) {
        #maincontentcontainer .cover {
  		    height:430px;
    		}
        #maincontentcontainer .cover .wrapper {
  		    padding:30px 2.85714% 0
    		}
    		#maincontentcontainer .cover h1 {
  		    font-size:38px;
    		}
      }
      /* =============================================================== 1110 */
      @media screen and (max-width: 1110px) {
        #maincontentcontainer .cover {
  		    height:420px;
    		}
    		#maincontentcontainer .cover .wrapper {
  		    padding:20px 2.85714% 0
    		}
    		#maincontentcontainer .cover h1 {
  		    font-size:36px;
    		}
      }
      
  		#maincontentcontainer .cover p {
		    font-size:18px;
		    color:#2c3e50;
		    margin:0 0 25px;
		    font-family:Arial, sans-serif
  		}
  		#maincontentcontainer .cover ul {
		    margin:0 6% 0 0;
		    padding:9px 0;
		    list-style-type:none;
		    border-radius:10px;
		    border:1px solid #fff;
		    background:url(../images/blue-transp-1.png);
  		}
  		  #maincontentcontainer .cover ul li {
  		    margin:0;
  		    padding:20px 29px;
  		    width:50%;
  		    float:left;
  		    border-right:1px solid #fff;
  		    box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
    		}
    		#maincontentcontainer .cover ul li:nth-child(2) {
  		    border-right:none;
    		}
    		#maincontentcontainer .cover ul li:last-child {
  		    clear:both;
  		    border:none;
  		    width:100%;
  		    float:none;
  		    height:0;
  		    padding:0
    		}
    		  #maincontentcontainer .cover ul li h4 {
    		    margin:0 0 12px;
    		    padding:0;
    		    color:#2c3e50;
    		    font-size:18px;
    		    font-weight:700;
    		    line-height:42px;
            vertical-align:middle;
      		}
      		#maincontentcontainer .cover ul li h4:before {
    		    display:inline-block;
            width:42px;
            height:42px;
            margin:0 10px 0 0;
            line-height:38px;
            text-align:center;
            vertical-align:middle;
            border-radius:50%;
            background:#ecf0f1;
            font-family: Flaticon;
            font-size: 18px;
            font-style: normal;
            color:#ff6633;
      		}
          #maincontentcontainer .cover ul li:first-child h4:before{
            content: "\e005";
          }
          #maincontentcontainer .cover ul li:nth-child(2) h4:before{
            content: "\e002";
          }
    		  #maincontentcontainer .cover ul li p {
    		    margin:0;
    		    padding:0;
    		    color:#2c3e50;
    		    font-size:14px
      		}
        /* =============================================================== 1100 */
        @media screen and (max-width: 1100px) {
          #maincontentcontainer .cover {
    		    height:400px;
      		}
          #maincontentcontainer .cover ul li {
    		    padding:10px 29px;
      		}
          #maincontentcontainer .cover ul li h4{
            font-size:16px;
          }
          #maincontentcontainer .cover ul li p{
            font-size:13px;
          }
        }
			#maincontent{
				clear: both;
    		margin:0 auto;
      	max-width: 1110px;
      	min-width:1000px;
      	text-align:left
				font-size: 0.8125em; /* 13 / 16 */
				margin: 0 auto;
				padding:0;
				color: #333;
				line-height: 1.5em;
				position: relative;
				box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        -webkit-box-sizing: padding-box;
			}
			.wrapper{
				clear: both;
    		margin:0 auto;
      	text-align:left
				font-size: 0.8125em; /* 13 / 16 */
				margin: 0 auto;
				padding:0 2.7%;
				color: #333;
				line-height: 1.5em;
				position: relative;
				box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        -webkit-box-sizing: padding-box;
			}
		
			.maincontent{
				clear: both;
				width: 80%; /* 1000px / 1250px */
				font-size: 0.8125em; /* 13 / 16 */
				max-width: 92.3em; /* 1200px / 13 */
				margin: 0 auto;
				padding: 1em 0px;
				color: #333;
				line-height: 1.5em;
				position: relative;
			}
	/* ==================================================================== Map */	  
  .moduletable-map {
		width: 100%;
		margin:0;
		padding:40px 0 0;
		background-color:#ecf0f1;
		box-shadow: inset 0 5px 5px -2px #d6dadb
	}
    .moduletable-map .custom-map {
  		width: 100%;
      margin:0 auto;
      padding:0 0 40px;
  		max-width:1440px;
      background-image:url(../images/map.png);
  		background-position:90% 40px;
  		background-repeat:no-repeat;
  	}
  .Itemid-125 .moduletable-map{
    margin:0 0 47px;  
  }
  /* =============================================================== Map 1400 */
  @media screen and (max-width: 1400px) {
    .moduletable-map .custom-map {
  		background-position:530px 40px;
  	}
  }
  /* =============================================================== Map 1200 */
  @media screen and (max-width: 1200px) {
    .moduletable-map .custom-map {
  		background-position:460px 40px;
  	}
  }
  /* =============================================================== Map 1000 */
  @media screen and (max-width: 1000px) {
    .moduletable-map .custom-map {
  		background-position:380px 40px;
  	}
  }
  #mapcontentcontainer{
    max-width: 1200px;
    min-width:1000px;
    text-align:left;
		margin: 0 auto;  
  }
		#mapcontent {
			clear: both;
    	margin:0 auto;
			padding:0 2.857142857142857%;
			position: relative;
			box-sizing: padding-box;
      -moz-box-sizing: padding-box;
      -webkit-box-sizing: padding-box;
		}
		
		#mapcontent h2 {
			text-align:center;
			font-size:36px;
			line-height:1.2;
			color:#000;
			margin:0 0 40px;
			font-weight:700
		}
		  #mapcontent h2 a { 
        color: #ff6633;
      }
		
		/* =========================================================== Map Search */
    .moduletable-search{
      text-align:left;
      padding:0 0 20px;
    }
      .moduletable-search h4{
        text-align:left;
        margin:0 0 10px;
        font-weight:700
      }
      .custom-combobox{
        width:100%
      }
      #city-search{display:none}
      .moduletable-search input#roksearch_search_str, .custom-combobox .custom-combobox-input{
        border-radius:3px;
        border:none;
        border-top:1px solid #dbdcde;
        box-shadow: 10px 20px 2px 2px #e6e7e9;
        width:100%;
        padding:6px 3%;
        color:#000;
        font-family:Arial, sans-serif;
        font-size:14px;
        font-weight:normal;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background:url(../images/search-bg.png) 98% center no-repeat #fff;
      }
      
    .moduletable-map-cities .cities-selected-area,
    .moduletable-map-cities .cities-selected-area-title{
      display:none    
    }
    .moduletable-map-cities ul{
      margin:0;
      padding:0;
      list-style-type:none;
    }
      .moduletable-map-cities ul li{
        margin:0 0 10px;
        padding:0;
        font-size:16px;
        font-family:"PT Sans", serif;
        width:45%;
        font-weight:700
      }
      .moduletable-map-cities ul li:nth-child(even){
        float:left  
      }
      .moduletable-map-cities ul li:nth-child(odd){
        float:right
      }
      .moduletable-map-cities ul li:first-child{
        float:none;
        width:100%
      }
        .moduletable-map-cities ul li:first-child a{
          color:#ff6633
        }
    .moduletable-map-cities .more{
      clear:left;
      display:block
    }
    .moduletable-map-cities .more a{
      color:#666;
      text-transform:uppercase;
      font-size:12px;
      font-weight:700
    }
    .moduletable-map-cities .more:after{
      color:#666;
      content:'>';
      margin:0 0 0 5px;
      font-size:12px;
      text-decoration:none
    }
/*==================================================== footer===================*/		
	#footercontainer {	
		background: #e7e7e7;
		border-top:1px solid #cccccc;
		height:135px;
		clear:both;
	}
	
		footer {
		max-height:135px;
			clear: both;
    	margin:0 auto;
      max-width: 1110px;
      min-width:1000px;
      text-align:left;
      display:block;
			margin: 0 auto;
			padding:35px 0 28px;
			position: relative;
			box-sizing: padding-box;
      -moz-box-sizing: padding-box;
      -webkit-box-sizing: padding-box;
		}

  		footer p{
  		margin:0;
		font:300 15px/1.5 Roboto, sans-serif;
        color:#666;
       }
        footer p.copyright{
          font-family: 'PT Sans', sans-serif;
          color:#000;
          font-weight:700;
        }
        footer p .phone{
          font-family: 'PT Sans', sans-serif;
          color:#000;
          font-weight:700;
          margin:0 15px 0 0
        }
        footer p .phone:before{
          font-family: 'icomoon', sans-serif;
          content:'\e600';
          font-weight:normal;
          color:#ff6633;
          display:inline-block;
          margin:0 5px 0 0;
          font-size:12px;
          line-height:1;
          top:1px;
        }
        footer p .email{
    	  margin:0;
          font:bold 15px Roboto, sans-serif;
          color:#000;
          font-weight:700;
        }
       /* footer p .email:before{
          font-family: "fontello";
          content:'\e800';
          font-weight:normal;
          color:#ff6633;
          display:inline-block;
          margin:-20px 5px 0 48px;
          font-size:20px;
          position:relative;
          top:4px;
          line-height:1
        }*/
		footer p .email {
			background:url(../images/konvert.png) 0 3px no-repeat;
			margin-left:45px;
		}
		
		footer p .email  a {
			margin-left:25px;
		}
          footer p .email a{
            color:#000;
          }
      .moduletable-developer{
        text-align:right
      }
      .moduletable-developer a{
        border-bottom:none
      }
      .footpad-1{padding-top:15px}
      .footpad-2{padding-top:30px}


	 footer .footpad-1  img{
		float:left;
	  }
	  
	footer .span_2_of_3 {
		margin-left:30px;
	}
	
	footer .span_4_of_8 {
		margin-left:0;
		padding-top:0.3em;
	}
	  
	footer .moduletable-mainmenu {
		padding-right:0;
	}
	  

	footer .footpad-1 p {
		text-align:right;
		margin-bottom:10px;
	}  
	
	footer .footpad-1 {
		background: url("../images/footdot.png") no-repeat scroll 135px top;
	}  
	
	footer .wrapper {
		padding:0 ;
	}
	
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

	
/*  CODE  ============================================================================= */

pre.code {
	padding: 0;
	margin: 0;
	font-family: monospace;
	white-space: pre-wrap;
	font-size: 1.1em;
}

strong.code {
	font-weight: normal;
	font-family: monospace;
	font-size: 1.2em;
}


/*  EXAMPLE  ============================================================================= */

#example .col {
	background: #ccc;
	background: rgba(204, 204, 204, 0.85);

}

/*  SAMPLE  ============================================================================= */

#sample .col {
	background: #ccc;
	padding: 1em 0;
	background: rgba(204, 204, 204, 0.85);

}

/*  CALCUATIONS  ============================================================================= */

#calculated .col {
	background: #ccc;
	padding: 1em 0;
	background: rgba(204, 204, 204, 0.85);

}

/*  NOTES  ============================================================================= */


.note {
	position:relative;
	padding:1em 1.5em;
	margin: 0 0 1em 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	overflow:hidden;
}

.note:before {
	content:"";
	position:absolute;
	top:0;
	right:0;
	border-width:0 16px 16px 0;
	border-style:solid;
	border-color:transparent transparent #cccccc #cccccc;
	background:#cccccc;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
	-webkit-border-radius:5px 0 5px 5px;
	-moz-border-radius:5px 0 5px 5px;
	border-radius:5px 0 5px 5px;
}

.note.rounded:before {
	border-width:8px;
	border-color:#ff #ff transparent transparent;
	background: url(/images/bodyback.png);
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}

/*  SCREENS  ============================================================================= */

.siteimage {
	max-width: 90%;
	padding: 5%;
	margin: 0 0 1em 0;
	background: transparent url(/images/stripe-bg.png);
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.siteimage:hover {
	background: #bbb url(/images/stripe-bg.png);
	position: relative;
	top: -2px;
	
}

/*  COLUMNS  ============================================================================= */

.twocolumns{
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
  }

/*  BUTTONS  ============================================================================= */


a.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding:0 18px;
	margin:0;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	-webkit-border-radius: 3px 3px 4px 4px;
	-moz-border-radius: 3px 3px 4px 4px;
	border-radius: 3px 3px 4px 4px;
	background: #1a994c;
	background: linear-gradient(to top, #1a994c 0%, #3ebc75 100%);
	font-size : 13px;
	text-transform:uppercase;
	font-weight: 700;
	border:none;
	border-bottom:1px solid #000;
}
a.button:hover {
	background: #1a994c;
	background: linear-gradient(to top, #158b41 0%, #29af62 100%);
}


/*  GLOBAL OBJECTS ============================================================================= */

.breaker { clear: both; }

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/* VENDOR-SPECIFIC ============================================================================= */

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }

/* ================================================================== Modules */
.moduletable-plancalc, .moduletable-phone, .moduletable-login{
  height:37px;
  margin:0 0 23px
}
.moduletable-plancalc ul{
  margin:0;
  padding:0;
  list-style-type:none; 
}
  .moduletable-plancalc ul li{
    margin:0;
    padding:0;
  }
    .moduletable-plancalc ul li a {
    	display: block;
    	outline: none;
    	cursor: pointer;
    	text-align: center;
    	text-decoration: none;
    	color: #fff;
    	padding:0;
    	margin:0;
    	height:36px;
    	line-height:36px;
    	vertical-align:middle;
    	-webkit-border-radius: 3px 3px 4px 4px;
    	-moz-border-radius: 3px 3px 4px 4px;
    	border-radius: 3px 3px 4px 4px;
    	background: #1a994c;
    	background: linear-gradient(to top, #1a994c 0%, #3ebc75 100%);
    	font-size : 13px;
    	text-transform:uppercase;
    	font-weight: 700;
    	border:none;
    	border-bottom:1px solid #000;
      font-family:"PT Sans", sans-serif;
    }
    .moduletable-plancalc ul li a:hover {
    	background: #1a994c;
    	background: linear-gradient(to top, #158b41 0%, #29af62 100%);
    }
    /* ========================================================= 1100 */
    @media screen and (max-width: 1100px) {
      .moduletable-plancalc ul li a {
        font-size : 12px;	
      }
    }
/* ==================================================================== Phone */
.moduletable-phone{
  line-height:36px;
  vertical-align:middle;
}
  .moduletable-phone p{
    margin:0;
    padding:0 25% 0 0;
    font-size:18px;
    font-weight:700;
    text-align:right
  }
  /* ========================================================= 1090 */
  @media screen and (max-width: 1090px) {
    .moduletable-phone p{
      font-size:16px;	
    }
  }
    .moduletable-phone p span.icon{
      font-family: 'EntypoRegular', sans-serif;
      font-weight:normal;
      color:#ff6633;
      display:inline-block;
      margin:0 2px 0 0
    }
    .moduletable-phone p:before{
      font-family: 'icomoon', sans-serif;
      content:"\e600";
      font-weight:normal;
      color:#ff6633;
      display:inline-block;
      margin:0 5px 0 0;
      font-size:16px
    }
/* ==================================================================== Login */
.moduletable-login{
  line-height:36px;
  vertical-align:middle;
}
  		  .moduletable-login ul {
    		  margin:0;
          padding:0;
          list-style-type:none	
    		} 
      		.moduletable-login li {
      		  margin:0;
            padding:0;
            text-align:right
      		}
        		.moduletable-login li a {
              font-size:14px;
              font-weight:normal;
              margin:0;
              padding:0 0 1px;
              line-height:1;
              color:#666;
              font-family:Arial, sans-serif;
              border-bottom:1px dashed #3498db	
        		}
            .moduletable-login li a:hover {
              border-bottom:none	
        		} 
        		.moduletable-login li:before {
              color:#999;
              font-family: 'icomoon', sans-serif;
              content: "\e602";	
              margin:0 5px 0 0;
              font-size:13px	
        		}
/* ================================================================== Special */
.moduletable-special{
}
  		  .moduletable-special ul {
    		  margin:0;
          padding:0;
          list-style-type:none	
    		} 
      		.moduletable-special li {
      		  margin:0;
            padding:0;
            text-align:right
      		}
        		.moduletable-special li a {
              font-size:14px;
              font-weight:700;
              font-style:normal;
              margin:0;
              padding:0 0 1px;
              line-height:1;
              color:#ff6633;
              text-transform:uppercase;
              font-family:"PT Sans", serif	
        		}
            .moduletable-special li a:hover {
              border-bottom:none	
        		}
/* ================================================================= Services */
.moduletable-services{
  margin:0 0 40px;
  padding:0 2.85714%;
}
.moduletable-services.page{
  background:url(../images/header-services-bg.jpg) center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0 0 47px;
  padding:0 2.85714%;
  box-shadow: 0px 3px 10px #98a2aa inset;
}
.moduletable-services.page div.header, .moduletable-services.page div.header h1{
  background:none;
  font-weight:700
}
.moduletable-services ul{
  margin:0;
  padding:0;
  list-style-type:none
}
  .moduletable-services ul li{
    margin:0;
    padding:0;
    float:left;
    width:17.71%;
    margin:0 0 0 2.85714%
  }
  .moduletable-services ul li:first-child{
    margin:0;
  }
  .moduletable-services ul li h3{
    margin:0 0 8px;
    font-size:20px
  }
  .moduletable-services ul li h3 a{
    color:#000;
    font-size:22px;
    padding-top:96px;
    display:block;
    margin-top:-96px;
    border-bottom:none;
    font-weight:700
  }
  .moduletable-services ul li h3 a span{
    border-bottom:1px solid #3498db;
    cursor:pointer
  }
  .moduletable-services ul li:hover h3 a span{
    border-bottom:1px solid #fff
  }
  .moduletable-services ul li p{
    color:#666;
    font-size:14px;
    line-height:1.3;
    font-family:Arial, sans-serif;
    margin:0 20%
  }
  .moduletable-services ul li h3:before{
    display:block;
    width:90px;
    height:90px;
    margin:0 auto 5px;
    line-height:90px;
    text-align:center;
    vertical-align:middle;
    border-radius:50%;
    background:#ecf0f1;
    font-family: Flaticon;
    font-size: 30px;
    font-style: normal;
    color:#ff6633;
    cursor:pointer;
  }
  .moduletable-services ul li:hover h3:before{
    background:#ff6633;
    color:#fff;
  }
  .Itemid-139 .moduletable-services ul li:nth-child(1) h3:before{
    background:#ff6633;
    color:#fff;
  }
  .Itemid-140 .moduletable-services ul li:nth-child(2) h3:before{
    background:#ff6633;
    color:#fff;
  }
  .Itemid-141 .moduletable-services ul li:nth-child(3) h3:before{
    background:#ff6633;
    color:#fff;
  }
  .Itemid-142 .moduletable-services ul li:nth-child(4) h3:before{
    background:#ff6633;
    color:#fff;
  }
  .Itemid-143 .moduletable-services ul li:nth-child(5) h3:before{
    background:#ff6633;
    color:#fff;
  }
  .moduletable-services ul li:nth-child(1) h3:before{
    content: "\e004";
    font-size: 25px;
  }
  .moduletable-services ul li:nth-child(2) h3:before{
    content: "\e006";
    font-size: 22px;
  }
  .moduletable-services ul li:nth-child(3) h3:before{
    content: "\e001";
    font-size: 40px;
  }
  .moduletable-services ul li:nth-child(4) h3:before{
    content: "\e007"; 
  }
  .moduletable-services ul li:nth-child(5) h3:before{
    content: "\e003";
    font-size: 30px;
  }
/* ================================================================== Clients */
.moduletable-clients{
  margin:48px 0 50px;
  padding:0 2.7%;
  position:relative
}
.moduletable-clients .k2ItemsBlock{
  position:relative
}
.moduletable-clients ul{
  margin:0;
  padding:0;
  list-style-type:none
}
  .moduletable-clients ul li{
    margin:0;
    padding:0;
  }
  .moduletable-clients ul li:first-child{
    margin:0;
  }
  .moduletable-clients ul li h4,
  .children-list .catItemIntroText h4{
    margin:0 0 4px;
    font-size:15px;
    font-weight:700;
  }
  
  .moduletable-clients ul li p,
  .children-list .catItemIntroText p{
    color:#666;
    font-size:12px;
    line-height:1.5;
    font-family:Arial, sans-serif;
    margin:0;
    text-align:center
  }
  .moduletable-clients ul li p strong,
  .children-list .catItemIntroText p strong{
    color:#34495e;
    font-weight:normal
  }
  .moduletable-clients ul li .image,
  .children-list .catItemIntroText .image{
    margin:0 auto;
    text-align:center;
  }
  .moduletable-clients ul li .image img,
  .children-list .catItemIntroText .image img{
    max-width:100%
  }
/* ================================================================= Contacts */
#contacts {
	width: 100%;
	margin:0;
	padding:40px 0;
	background:#cfdee8;
  box-shadow: inset 0px 0px 10px #b6c4cd;
}
	#contacts .wrapper {
		clear: both;
   	margin:0 auto;
    max-width: 1200px;
    min-width:1000px;
    text-align:left
	  margin: 0;
		padding:0;
		position: relative;
		box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
	}
	  #contacts .wrapper .moduletable-contact {
  		clear: both;
     	margin:0 auto;
      text-align:left;
  	  margin: 0 13%;
  		padding:20px 20px 5px;
  		position: relative;
  		box-sizing: padding-box;
      -moz-box-sizing: padding-box;
      -webkit-box-sizing: padding-box;
background:#ecf0f1;
border:1px solid #bdc3c7
  	}
		
		#contacts .moduletable-contact h3 {
			text-align:center;
			font-size:36px;
			line-height:1.2;
			color:#304254;
			margin:0 0 30px;
      font-weight:700
		}
    .pweb-field-name,
    .pweb-field-company,
    .pweb-field-email,
    .pweb-field-phone,
    .pweb-field-cities,
    .pweb-field-comment {
			width:48%
		}
    .pweb-field-name,
    .pweb-field-email,
    .pweb-field-cities {
      float:left
		}
      form.pwebcontact-form .pweb-field-cities .pweb-field{
        border-radius:5px;      
        width:48%;
        margin:0 4% 20px 0;
        padding:1px 0 0;
        float:left;
        background:#fff;
        border-radius:5px;
        box-shadow: 0 1px 1px #ddd inset;
      }
        form.pwebcontact-form .pweb-field-cities .pweb-field .pweb-fields-group{      
          height:210px;
          margin:0;
          padding:0;
        } 
        form.pwebcontact-form .pweb-field-cities .pweb-field #pwebcontact101_field-cities ul{
          padding:6px 0 0 10px;
        } 
        form.pwebcontact-form .pweb-field-cities input.search-cities{
          width:96%;
          padding:8px 2%;
          margin:0 0 10px;
          background:url(../images/search-bg.png) no-repeat 97% center #fff;
          border: medium none;
          box-shadow: 0 1px 1px #ddd inset;
          color: #000000;
        }
        .cities-selected-area{
          float:left;
          width:47.8%;        
          height:174px;
          margin:0;
          padding:0;
          overflow: auto;
        }
        .cities-selected-area-title{
          font-family:"PT Sans", serif;
          font-weight:700;
          font-size:16px;
          color:#000;
          margin:6px 0  
        }
        .selected-city{
          font-family:Arial, serif;
          font-weight:300;
          font-size:14px;
          color:#000;
          margin:0 0 5px 
        }
          .selected-city-del-icon{
            display:inline-block;
            width:12px;
            height:12px;
            margin:0 0 0 7px;
            position:relative;
            top:2px;
            cursor:pointer;
            background:url(../images/cancel-btn.png) no-repeat center center
          }
          
      /* Styles specific to this particular page */
			.scroll-pane-arrows
			{
				width: 100%;
				height: 210px;
				overflow: auto;
			}
			.horizontal-only
			{
				height: auto;
				max-height: 210px;
			}
      
      
      
    .pweb-field-company,
    .pweb-field-phone,
    .pweb-field-comment {
      float:right
		} 
    #pwebcontact101_field-media-lbl, #pwebcontact101_field-cities-lbl, #pwebcontact101_field-comment-lbl{
      font-weight:700;
      font-size:22px;
      margin:0 0 15px
    }
    #pwebcontact101_field-media ul, #pwebcontact101_field-cities ul{
      list-style-type:none;
      margin:0;
      padding:0;
    }
    #pwebcontact101_field-media ul li, #pwebcontact101_field-cities ul li{
      margin:0 0 5px;
      padding:0;
      font-size:16px;
      font-weight:700;
      font-family:"PT Sans", serif
    }
    #pwebcontact101_field-media ul li{
      width:25%;
      float:left;
    }
    #pwebcontact101_field-media ul li:first-child{
      width:100%;
    }
    #pwebcontact101_field-media ul li:last-child{
      width:50%;
    }
    #pwebcontact101_field-media ul li label, #pwebcontact101_field-cities ul li label{
      font-weight:700
    }
    form.pwebcontact-form .pweb-field-comment textarea{
      resize: none;
      height:150px !important  
    }
    .pweb-form-green form.pwebcontact-form button, .pweb-form-green form.pwebcontact-form .btn {
    	display: block;
    	outline: none;
    	cursor: pointer;
    	text-align: center;
    	text-decoration: none;
    	color: #fff;
    	padding:0 20px;
    	margin:0;
    	height:42px;
    	line-height:42px;
    	vertical-align:middle;
    	-webkit-border-radius: 3px 3px 4px 4px;
    	-moz-border-radius: 3px 3px 4px 4px;
    	border-radius: 3px 3px 4px 4px;
    	background: #1a994c;
    	background: linear-gradient(to top, #1a994c 0%, #3ebc75 100%);
    	font-size : 18px !important;
    	text-transform:uppercase;
      text-shadow:none !important;
    	font-weight: 300;
    	border:none;
    	border-bottom:1px solid #000;
    }
    .pweb-form-green form.pwebcontact-form button:hover, .pweb-form-green form.pwebcontact-form .btn:hover {
    	background: #1a994c !important;
    	background: linear-gradient(to top, #158b41 0%, #29af62 100%) !important;
    }
    .pweb-field-buttons, .geo-comments{
      clear:both;
      margin:0 -20px;
      padding:20px 20px 0;
      border-top:1px solid #bec2c5
    }
    
    .geo-comments{
      display:none;
      width:100%
    }
    
    .pweb-form-green form.pwebcontact-form a.geo-com{
      border-bottom: 1px dashed #3498db;
      color: #666;
      font-family: Arial,sans-serif;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      padding: 0 0 1px;
      position:absolute;
      left:265px;
      bottom:30px;
      z-index:100;
      cursor:pointer
    }
    .pweb-form-green form.pwebcontact-form a.geo-com:hover{
      border-bottom: 1px dashed #fff;
      text-decoration:none
    }
    .pweb-form-green form.pwebcontact-form a.geo-com.close{
      display:none
    }
    
.navigation{
  padding:20px 0 20px;
  text-align:center
  
}
.navigation a{
  width:40px;
  height:40px;
  display:inline-block;
  border-bottom:none
}
.navigation .left{
  background:url(../images/nav-left.png) center center no-repeat
}
.navigation .right{
  background:url(../images/nav-right.png) center center no-repeat
}
.navigation a:hover.left{
  background:url(../images/nav-left-over.png) center center no-repeat
}
.navigation a:hover.right{
  background:url(../images/nav-right-over.png) center center no-repeat
}

.moduletable-google-map{
  width:100%;
  max-width:100%;
  overflow:hidden;
  height:500px;
  position:relative
}

.itemListCategory ul.nav.menu {
          list-style-type:none;
		      margin:0;
		      padding:0;
		      line-height: 0;		
    		}
      		.itemListCategory ul.nav.menu li {
      		  margin:0 0 10px;
            padding:0;
            width:33%;
            display: block;
            float:left;
      			line-height: normal;			
      			vertical-align: top; 
      			//display : inline;
      			//zoom : 1;
            background-position:left center;
              background-repeat:no-repeat;
              -webkit-background-size: 20px 20px;
              -moz-background-size: 20px 20px;
              background-size: 20px 20px;
              font-family:'PT Sans', serif	
      		}
      		.itemListCategory ul.nav.menu li.item-144 { 
      			width: 100%; 
      			height: 0px;
      			visibility: hidden;
      			overflow: hidden;			
      		}
        		.itemListCategory ul.nav.menu li a {
        		  display:inline-block;
              font-size:16px;
              font-weight:700;
              margin:0 0 0 30px;
              padding:0;
              line-height:1;
              letter-spacing:0.5px;
              white-space: nowrap;
        		}

            .itemListCategory ul.nav.menu li.item-130 {background-image:url(../images/icons/tv.svg);background-position:left top;}
            .itemListCategory ul.nav.menu li.item-131 {background-image:url(../images/icons/radio.svg)}
            .itemListCategory ul.nav.menu li.item-132 {background-image:url(../images/icons/internet.svg);background-size:22px 22px;}
            .itemListCategory ul.nav.menu li.item-133 {background-image:url(../images/icons/newspaper.svg)}
            .itemListCategory ul.nav.menu li.item-134 {background-image:url(../images/icons/outdoor.svg)}
            .itemListCategory ul.nav.menu li.item-135 {background-image:url(../images/icons/transport.svg);background-size:25px 25px;}
            .itemListCategory ul.nav.menu li.item-136 {background-image:url(../images/icons/indoor.svg)}
            .itemListCategory ul.nav.menu li.item-137 {background-image:url(../images/icons/promo.svg);background-size:30px 30px;background-position:left center;} 
            .itemListCategory ul.nav.menu li.item-138 {background-image:url(../images/icons/exclusive.svg)}

.about-grid{
  margin:0 0 50px  
} 
.about-grid > tbody > tr > td {
  padding:0  
}            
.mailing-block{
  margin:0 -4%;
  padding:0 4%;
  width:108%;
  border:1px solid #cdcdcd
}
  .mailing-block td{
    padding:0 0 20px;
    vertical-align:middle;
    line-height:1.25
  }
  .mailing-block tr:first-child td{
    padding:23px 0 20px
  }
  .mailing-block tr td:first-child{
    padding:23px 0 20px 4%
  }
  .mailing-block tr td:last-child{
    padding:23px 4% 28px 4%;
    background:#ecf0f1
  }
  .mailing-block td td{
    padding:0 !important; 
    vertical-align:top
  }
  .mailing-block h5{
    margin:0 0 4px;
    padding:0;
    font-family:'PT Sans', serif;
    font-size:16px;
    font-weight:700;
    color:#000;
    letter-spacing:0
  }
  .mailing-block strong{
    color:#000
  }
  .mailing-block .acysubbuttons{text-align:left}
  .mailing-block .acyfield_email input {
    font-size:14px;
    border-radius:4px;
    color:#999;
    letter-spacing:0;
    padding:6px 3%;
    margin:0;
    width:93% !important;
    box-shadow: 0 1px 1px #d6d6d6 inset;
    border-top:1px solid #c1c3c2;
    border-left:1px solid #d5d6d8;
    border-right:1px solid #d5d6d8;
    border-bottom:1px solid #e6e8e7;
  }
  .mailing-block .acysubbuttons input.button {
    	display: block;
    	outline: none;
    	cursor: pointer;
    	text-align: center;
    	text-decoration: none;
    	color: #fff;
    	padding:0 22px;
    	margin:10px 0 0;
    	height:32px;
    	line-height:32px;
    	vertical-align:middle;
    	-webkit-border-radius: 3px 3px 4px 4px;
    	-moz-border-radius: 3px 3px 4px 4px;
    	border-radius: 3px 3px 4px 4px;
    	background: #1a994c;
    	background: linear-gradient(to top, #1a994c 0%, #3ebc75 100%);
    	font-size : 13px !important;
    	text-transform:uppercase;
    	font-weight: 700;
    	border:none;
    	border-bottom:1px solid #000;
      text-shadow:none;
      box-shadow:none;
      font-family:"PT Sans", serif;
    }
    .mailing-block .acysubbuttons input.button:hover {
    	background: #1a994c;
    	background: linear-gradient(to top, #158b41 0%, #29af62 100%);
    }
  .mailing-block .acymailing_module{
    width:100%
  }
  
  .moduletable-geo{
    margin:0 5%
  } 

.moduletable-google-map{
  position:relative
}
.moduletable-google-map .address{
  position:absolute;
  left:0;
  top:60px;
  width:100%;
  text-align:center;
}
.moduletable-google-map .address .wrapper{
  position:relative;
  margin:0 auto;
  padding:0;
  max-width: 1200px;
  min-width: 1000px;
}
.moduletable-google-map .address .inwrapp{
  background:#fff;
  width:300px;
  margin:0 0 0 2.7%;
  text-align:left;
  padding:30px 30px 18px;
  box-shadow: 0 0 5px #ccc;
}
.moduletable-google-map .address h5{
  font-family:"PT Sans", serif;
  font-size:22px;
  color:#000000;
  font-weight:700;
  margin:0 0 15px;
}
.moduletable-google-map .address p{
  color:#2c3e50;
  font-weight:normal;
  font-size:16px;
  font-family:Arial, serif;
  line-height:1.5;
  margin:0 0 12px
}
.moduletable-google-map .address p.phone,
.moduletable-google-map .address p.email{
  color:#000;
  font-family:"PT Sans", serif;
  font-size:700;
  padding:0
}
.moduletable-google-map .address p.phone:before{
  font-family: 'icomoon', sans-serif;
  content:'\e600';
  font-weight:normal;
  color:#ff6633;
  display:inline-block;
  margin:0 10px 0 0;
  font-size:14px;
  line-height:1;
  top:1px;
}
.moduletable-google-map .address p.email:before{
  font-family: 'EntypoRegular', sans-serif;
  content:'✉';
  font-weight:normal;
  color:#ff6633;
  display:inline-block;
  margin:-20px 10px 0 0;
  font-size:34px;
  position:relative;
  top:4px;
  line-height:1
}

div.catItemIntroText .principes{
  margin:0 0 67px;
  padding:0;
  list-style-type:none
}
div.catItemIntroText .principes li{
  margin:0;
  padding:0 2%;
  width:29%;
  display:table-cell;
  border-left:1px solid #ccc;
  text-align:center
}
div.catItemIntroText .principes li:first-child{
  border-left:none
}
div.catItemIntroText .principes .image{
  width:70px;
  height:70px;
  margin:0 auto 19px;
  padding:10px;
  text-align:center;
  border:1px solid #fe653b;
  border-radius:50%;
}
div.catItemIntroText .principes h5{
  font-family:"PT Sans", serif;
  font-size:18px;
  color:#000000;
  font-weight:700;
  margin:0 0 8px;
}
div.catItemIntroText .principes p{
  color:#34495e;
  font-weight:normal;
  font-size:14px;
  font-family:Arial, serif;
  line-height:1.4;
  margin:0 0 12px
}

div.catItemIntroText .history{
  margin:0 8.5%;
  padding:0;
  list-style-type:none
}
div.catItemIntroText .history li{
  margin:0;
  padding:0;
  width:50%;
  position:relative;
  height:260px
}
div.catItemIntroText .history li:nth-child(odd){
  float:left
}
div.catItemIntroText .history li:nth-child(even){
  float:right
}
div.catItemIntroText .history li .year{
  position:absolute;
  color:#fff;
  width:65px;
  height:33px;
  text-align:center;
  line-height:33px;
  vertical-align:middle
}
div.catItemIntroText .history li:nth-child(odd) .year{
  right:-29px;
  background:url(../images/year-left.png) center center no-repeat
}
div.catItemIntroText .history li:nth-child(even) .year{
  left:-29px;
  background:url(../images/year-right.png) center center no-repeat
}
div.catItemIntroText .history li:nth-child(2){
  margin-top:130px
} 
div.catItemIntroText .history li p{
  font-size:14px;
  color:#34495e
}
div.catItemIntroText .history li:nth-child(odd) p{
  padding-right:80px
}
div.catItemIntroText .history li:nth-child(even) p{
  padding-left:80px
}
div.catItemIntroText .history li p strong{
  display:block;
  font-family:"PT Sans", serif;
  font-size:16px;
  color:#000000;
  font-weight:700;
}
div.catItemIntroText .vacancy{
  margin:0 8.5% 40px;
  padding:0;
  list-style-type:none
}
div.catItemIntroText .vacancy li{
  margin:0 0 30px;
  padding:0;
}
div.catItemIntroText .vacancy li h4 a{
  margin:0 0 30px;
  padding:0;
  border-bottom:1px dashed #3498db;
  background:none;
  font-family:"PT Sans", serif;
  font-size:22px;
  color:#000000;
}
div.catItemIntroText .vacancy li h4 a:hover{
  border-bottom:none
}

.vacancy .spoilers .desc{
  margin:0;
  padding:34px 3.4% 0
}
.vacancy .spoilers table thead td{
    background: none repeat scroll 0 0 #ff6634;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 0;
    text-align: center;
}
.vacancy .spoilers table td{
    vertical-align:top;
    padding:10px 0;
    border-bottom:1px solid #e6e6e6
}
.vacancy .spoilers table td.separator{
    width:3.4%;
    background:#fff;
    border-bottom:none
}
.vacancy .spoilers table td ul{
  margin:0;
  padding:0;
  list-style-type:disc
}
.vacancy .spoilers table td ul li{
  margin:0 0 10px 15px;
  padding:0;
  font-size:14px;
  color:#2c3e50
}
.vacancy .spoilers .resume{
  margin:0 -3.7%;
  padding:20px 0;
  text-align:center;
  background:#ecf0f1;
  border-radius:0 0 10px 10px;
}

.span_1_of_4 h3{
  text-align:left
}
div.itemListCategory ul.subnav,
div.itemListCategory .subnav ul{
  margin:0;
  padding:0 0 3px;
  list-style-type:none
}
  div.itemListCategory ul.subnav li,
  div.itemListCategory .subnav ul li{
    margin:0 0 5px;
    padding:0;
  }
    div.itemListCategory ul.subnav li a,
    div.itemListCategory .subnav ul li a{
      font-family:"PT Sans", serif;
      font-size:16px;
      color:#000000;
      font-weight:700
    }
  .subnav a.modal{
    font-family:"PT Sans", serif;
    text-transform:uppercase;
    font-size:12px;
    display:inline-block;
    margin:0;
    padding:0 12px 0 0;
    border:none;
    background:url(../images/more-row.png) right 9px no-repeat
  }
  .bot-cen-wrap .subnav a.modal{
    font-size:13px;
    background-position:right 6px
  }
  .subnav a.modal span{
    border-bottom:1px dashed #3498db;
    color:#666666;
    display:inline-block;
    padding:0 0 4px;
    line-height:1;
    font-weight:700;
  }
  .bot-cen-wrap .subnav a.modal span{
    color:#000
  }
  .bot-cen-wrap .subnav p{
    margin:10px 0 !important
  }
  .subnav a.modal:hover span{
    border-bottom:1px solid #fff;
  }

table td{vertical-align:top}

#chart_4{text-align:center}
#chart_4 > div:first-child {margin:0 auto 60px;border:1px solid #bdc3c7;padding:0}
#chart_4 svg > g:nth-child(4){display:none}

#chart_4 rect{background:#ff0000!important}

#chart_4 svg > g:nth-child(2) { 
  display:block;
  margin:0 auto  
}

.moduletable-mediasub ul{
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center
}
.moduletable-mediasub ul li{
  margin:0 0 20px;
  padding:0;
  display:inline-block;
  line-height:40px
}
.moduletable-mediasub ul li a{
  border:2px solid #fff;
  border-radius:30px;
  padding:8px 17px;
  margin:0 5px;
  font-family:"PT Sans", serif;
  font-size:14px;
  text-transform:uppercase;
  color:#000000;
  font-weight:700;
}
.moduletable-mediasub ul li a:hover,
.moduletable-mediasub ul li.current a{
  border:2px solid #ff6634;
  background:#ff6634
}

.sep-white-30, .sep-white-10{
  height:1px;
  margin:0 auto 18px;
  background:#fff
}
.sep-white-30{
  width:31.4%
}
.sep-white-10{
  width:10.4%
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"]:checked + label {
  color:#ff6633 !important  
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(../images/check_radio_sheet.png) left top no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  color:#f2f2f2;
}

input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(../images/check_radio_sheet.png) -38px top no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}

.pweb-field-phone .pweb-field:before{
  content:'+7';
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height:40px
}
#pwebcontact101_field-phone{
  max-width:90%;
  float:right
}
.pweb-label{display:block !important}

ul.menu-serv-sub{
  margin:3px 0 0 !important;
  padding:0;
  list-style-type:none;
}
ul.menu-serv-sub li{
  margin:0 0 10px 0 !important;
  padding:0px 5px 2px 30px;
  float:left;
  clear:left;
  height:18px;
  border-radius:3px;
}
ul.menu-serv-sub li a{
  line-height:18px;
  height:18px;
  vertical-align:top;
  display:block;
  color:#000;
  font-family:"PT Sans", serif;
  font-weight:700;
  font-size:16px;
  padding:0 0 2px
}
ul.menu-serv-sub li.current a{
  border-bottom:none
}

ul.menu-serv-sub li.item-139{
  background:url(../images/serv-sub-plan.png) 5px center no-repeat
} 
ul.menu-serv-sub li.item-140{
  background:url(../images/serv-sub-buy.png) 5px center no-repeat
}
ul.menu-serv-sub li.item-141{
  background:url(../images/serv-sub-control.png) 5px center no-repeat
}
ul.menu-serv-sub li.item-142{
  background:url(../images/serv-sub-report.png) 5px center no-repeat 
}
ul.menu-serv-sub li.item-143{
  background:url(../images/serv-sub-tech.png) 5px center no-repeat
}

ul.menu-serv-sub li.item-139:hover, ul.menu-serv-sub li.item-139.current{
  background:url(../images/serv-sub-plan-over.png) 5px center no-repeat #ff6633
}
ul.menu-serv-sub li.item-140:hover, ul.menu-serv-sub li.item-140.current{
  background:url(../images/serv-sub-buy-over.png) 5px center no-repeat #ff6633
}
ul.menu-serv-sub li.item-141:hover, ul.menu-serv-sub li.item-141.current{
  background:url(../images/serv-sub-control-over.png) 5px center no-repeat #ff6633
}
ul.menu-serv-sub li.item-142:hover, ul.menu-serv-sub li.item-142.current{
  background:url(../images/serv-sub-report-over.png) 5px center no-repeat #ff6633
}
ul.menu-serv-sub li.item-143:hover, ul.menu-serv-sub li.item-143.current{
  background:url(../images/serv-sub-tech-over.png) 5px center no-repeat #ff6633
}

.moduletable-google-map iframe{
  position:relative;
  top:-300px
}

.pweb-field-media{clear:both}

#k2Container .nn_tooltips-link, a.glossarylink{
  padding:0;
  border-bottom:1px dashed #3498db !important;
  color: #000;
  font-family: "PT Sans",serif;
  font-size: 16px;
  font-weight: 700; 
  cursor:default
}
  .nn_tooltips.popover, .glossarylink span{
    padding:10px 20px !important;
    font-family:Arial, serif;
    font-size:14px;
    font-weight:normal;
  display:block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff !important;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  }
#k2Container .nn_tooltips-link:hover, a.glossarylink:hover{
  border-bottom:1px dashed #fff !important;
}

#k2Container .nn_tooltips .arrow{
  margin:0
}

/* ====================================================== Center Part of Page */
div.itemFullText table.bot-cen,
div.itemListCategory table.bot-cen{
  margin:0 0 0 -34.4%;
  width:134.4%;
  padding:0;
  border-collapse:collapce
}
  div.itemFullText table.bot-cen > tbody > tr > td,
  div.itemListCategory table.bot-cen > tbody > tr > td{
    padding:0 8.5%;
  }
    div.itemFullText table.bot-cen > tbody > tr > td > p,
    div.itemListCategory table.bot-cen > tbody > tr > td > p{
      margin:0 0 25px
    }
    
div.itemFullText table.bot-cen-wrap,
div.itemListCategory table.bot-cen-wrap{
  margin:0;
  padding:0;
  width:100%;
  border-collapse:collapce
}
  div.itemFullText table.bot-cen-wrap > tbody > tr > td,
  div.itemListCategory table.bot-cen-wrap > tbody > tr > td{
    padding:0 10.3%;
  }
    div.itemFullText table.bot-cen-wrap > tbody > tr > td > p,
    div.itemListCategory table.bot-cen-wrap > tbody > tr > td > p{
      margin:0 0 20px
    }
    div.itemFullText table.bot-cen-wrap > tbody > tr > td > p.min-pad,
    div.itemListCategory table.bot-cen-wrap > tbody > tr > td > p.min-pad{
      margin:0 0 5px
    }
    div.itemFullText table.bot-cen-wrap > tbody > tr > td > .spoilers .title,
    div.itemListCategory table.bot-cen-wrap > tbody > tr > td > .spoilers .title{
      margin:0 0 5px
    }

#sbox-window .modalDialog h4{
  font-size:22px;
  font-weight:700;
  margin:0 0 10px;
}
#sbox-window .modalDialog h5{
  font-size:16px;
  font-weight:700;
  margin:0 0 10px;
  color:#ff6633;
  clear:left;
} 
#sbox-window .modalDialog p{
  font-size:14px;
  margin:0 0 18px;
} 
#sbox-window .modalDialog ul{
  margin:0;
  padding:0;
  list-style-type:none;
}    
  #sbox-window .modalDialog ul li{
    float:left;
    width:33%;
    padding:0 0 8px;
    margin:0;
  }
  #sbox-window .modalDialog ul li.clear{
    margin:0;
    height:8px;
  }
  #sbox-window .modalDialog ul li:nth-child(3n+1){
    clear:left
  }
    #sbox-window .modalDialog ul li a{
      font-family:"PT Sans", serif;
      font-weight:700;
      font-size:16px;
      cursor:pointer
    }

.profile {
  background: none repeat scroll 0 0 #cfdee8;
  box-shadow: 0 0 10px #b6c4cd inset;
  margin: 0;
  padding: 40px 0;
  width: 100%;
}
  .profile .wrapper {
    box-sizing: padding-box;
    clear: both;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
    padding: 0;
    position: relative;
  }
    .profile .wrapper .inwrap {
      background: none repeat scroll 0 0 #ecf0f1;
      border: 1px solid #bdc3c7;
      box-sizing: padding-box;
      clear: both;
      margin: 0 13%;
      padding: 20px 20px 5px;
      position: relative;
      text-align: left;
    }
      .profile .wrapper .inwrap h2 {
        color: #304254;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 30px;
        text-align: center;
      }
      .profile .wrapper .inwrap h3 {
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 15px;
        text-align:left
      }
        .profile .wrapper .inwrap li, .profile .wrapper .inwrap .report-history li{
          clear:both
        }
        .profile .wrapper .inwrap .field-name, .profile .wrapper .inwrap .field-position, .profile .wrapper .inwrap .field-email, .profile .wrapper .inwrap .field-phone, .profile .wrapper .inwrap .field-button {
          float:left;
          width:19.5%
        }
        .profile .wrapper .inwrap li input{
          width:80%
        }
      .profile .wrapper .inwrap .form-field{
        float:left;
        width:20%
      }
      .profile .wrapper .inwrap .form-field.email{
        width:35%
      }
      
      .report-history{
        margin:0 0 80px 0  
      }
      .report-history li > div{
        float:left;
        margin:0 30px 10px 0  
      }
      
#columnchart_values{
  border-top:1px solid #bec2c5;
  border-bottom:1px solid #bec2c5;
  margin:0 0 30px;
}

/* Media Press Item ========================================================= */

div.itemFullText ul.breadcrumb{
  margin:0;
  padding:60px 0 10px;
  list-style-type:none;
  text-align:center
}
  div.itemFullText ul.breadcrumb li{
    margin:0;
    padding:0;
    display:inline-block;
    font-size:14px;
    font-family:"PT Sans", serif;
    font-weight:700;
    color:#7f8c8d;
    text-transform:uppercase
  }
    div.itemFullText ul.breadcrumb li a{
      margin:0;
      padding:0;
      display:inline-block;
      font-size:14px;
      font-family:"PT Sans", serif;
      font-weight:700;
      color:#7f8c8d;
      text-transform:uppercase
    }
    div.itemFullText ul.breadcrumb li a:hover{
      border-bottom:1px solid #fff
    }
    div.itemFullText ul.breadcrumb li span.divider{
      margin:0 10px;
      padding:0;
      display:inline-block;
      font-size:16px;
      font-family:"PT Sans", serif;
      font-weight:700;
      color:#ff6633;
      text-transform:uppercase
    }
    
.leftnav, .maintext{
  vertical-align:top
}

div.itemFullText ul.media-techs{
  margin:0;
  padding:0;
  list-style-type:none
}
  .leftnav img{
    max-width: 100%; 
    margin: 0 0 20px;
  }
  div.itemFullText ul.media-techs li, div.itemFullText table.media-item td.leftnav p{
    margin:0 0 15px;
    padding:0;
    color:#000;
    font-size:16px;
    font-weight:700;
    font-family:"PT Sans", serif;
  }
  div.itemFullText ul.media-techs li.title, div.itemFullText table.media-item td.leftnav p.title{
    margin:0;
    padding:0;
    color:#2c3e50;
    font-size:13px;
    font-weight:normal;
    font-family:Arial, serif;
  }

.wrapper.item table.simple-little-table{
  width:105.4%;
  margin:0 -2.7% 20px      
}
  div.itemFullText table.simple-little-table thead tr td p{
    font-size:15px;
    color:#000;
    font-family:"PT Sans", serif;
  }
  
.nn_tooltips .arrow{
  display:none !important
}

.chart{
  position:relative;
  height:520px;
  margin:0 0 30px;
  overflow:hidden;
  border-top:1px solid #bec2c5;
  border-bottom:1px solid #bec2c5
}
  .bar-chart-info{
    position:absolute;
    margin:0;
    padding:0;
    list-style-type:none;
    z-index:1
  }
    .bar-chart-info li{
      position:relative;
      margin:0;
      padding:0;
      list-style-type:none;
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      font-family:"PT Sans", serif !important;
      font-weight:700;
      color:#000 !important;
      font-size:16px 1important
    }
    .bar-chart-info li.paul{top:80px}
    .bar-chart-info li.age{top:200px}
    .bar-chart-info li.income{top:310px}
    
  #barchart_values{
    height:600px;
    position:relative;
    padding-left:50px;
    margin:-30px 0 0
  } 

form.pwebcontact-form .pweb-msg-before{
  margin:0 0 30px !important;
  font-size:16px;
  text-align:center
}
form.pwebcontact-form .pweb-label label{
  font-family:"PT Sans", serif;
  font-size:16px;
  font-weight:700
}
form.pwebcontact-form .pweb-field-media .pweb-label label{
  font-size:22px;
  margin:0 0 15px !important
}
form.pwebcontact-form .pweb-label label#pwebcontact101_field-name-lbl, #pwebcontact101_field-media-lbl{display:none}
.pweb-field-name .pweb-field-name{
  width:100%;
  margin:0 !important
}
.pweb-form-green form.pwebcontact-form .invalid, .pweb-form-green form.pwebcontact-form .invalid a{
  color:#000 !important;
}
.pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-text label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-name label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-email label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-phone label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-subject label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-password label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-date label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-textarea label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-select label, .pweb-form-green.pweb-labels-over form.pwebcontact-form .pweb-field-multiple label{color:#000 !important;}
.pweb-asterisk{display:none;}


/*для сервиса*/

#headerbb .borderline {
	border-top:9px solid #e54c10;
	margin-bottom: 22px;
}

#servallbox {
	margin: 0 auto;
    max-width: 1110px;
    min-width: 1000px;
    text-align: center;
	min-height:650px;
}

#servallbox .wrapper {
	padding-right:0;
}

#servallbox .span_5_of_7 {
	margin-left:0;
}

#leftmenu li{
	list-style:none;
	text-transform:uppercase;
	text-align:left;
	width:100%;display:block;
	margin-bottom: 0.6em;
}

#leftmenu li a {
	font:bold 14px Roboto;
	
}

#leftmenu li a:hover, #leftmenu li a:active {
	background-color:#ff6100;
	text-align:center;
	border-radius:8px;
	padding:1px 9px;
	color:#fff;
}

#leftmenu .nav-child {
	margin-top:0.6em;
}
#leftmenu .nav-child li{
	margin-left:2.5em;
}

.moduletableleftmenuh {
	margin-bottom:0.6em;
}

.moduletableleftmenuh h3{
	font:bold 20px Roboto;
	text-align:left;
	margin:0;
}

.moduletableposition {
	margin-bottom:0.4em;
}

.moduletableposition ul {
	text-align:left;
}

.moduletableposition li{
	font:bold 14px Roboto;
	text-transform:uppercase;
	padding-right:11px;
	list-style:none;
	display:inline-block;
	color:#000;
}

.moduletableposition li .divider  {
	margin-left:14px;
}
	
#servicebhcontainer .header {	
	background: url("../images/header-red-bg.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    margin: 0 0 20px 25px;
    text-align: center;
}


#servicebhcontainer .header h2 {
background: none repeat scroll 0 0 #fff;
    color: #ff6c23;
    display: inline-block;
    font: bold 34px PT Sans,sans-serif;
    margin: 0;
    padding: 0 20px;
}

.newsflash-titleheaders {
	text-align:left;
}
.newsflashheaders img {
	box-shadow: 3px 3px 5px 2px #494949;
	float:left;
	margin: 0 1.5em 0.8em 0;
}

.newsflash-titleheaders a{
	font:20px 'Roboto Condensed', sans-serif;
	color:#ff672f;
	border-bottom:none;
}
.newsflashheaders p {
	font:14px Roboto, sans-serif;
	text-align: justify;
}

.newsflashheaders .rmore {
	background: url("/target/media/system/images/arrow_old.png") no-repeat scroll 264px center rgba(0, 0, 0, 0);
	clear:both;
	padding-left: 189px;
}

.newsflashheaders .readmore{
    border-bottom: 1px dashed #ff672f;
    font: bold 14px "PT Sans",sans-serif;
}

.newsflashheaders {
	text-align:left;
	padding: 0 0 0 25px;
}


.theme-light .nivoSlider img {
	display:block!important;
}
/*для сервиса*/

#newsbox h4 {
	font: bold 16px "PT Sans",sans-serif;
    margin-bottom: 0;
    text-align: center;
}

.nspPrev {
	background: url("../images/prev-horizontal.png") no-repeat scroll 0 -16px rgba(0, 0, 0, 0);
	
}
.nspNext{
	background: url("../images/next-horizontal.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.nspPrev, .nspNext {
	width:40px!important;
	height:40px!important;
	background-position: -40px 0!important;
	margin: 0 15px!important;
}

.nspPrev:hover, .nspNext:hover {
	background-position: -80px 0!important;
}






















