#system-debug{
	background-color:#FFF;
	margin:10px;
	padding:10px;
}
#system-debug *{
	color:#333;
	font-size:11px;
	font-weight: normal;
}
#system-debug h4, #system-debug h5{
	color:#000;
	font-size:12px;
	font-weight: bold;
}
#system-debug ul, #system-debug ol{
	padding-bottom: 10px;
}
.profiler{
}
.system-debug-block{
	border-top: 1px solid #000;
	padding-bottom: 25px;
}
.system-debug-row-0{
	background-color:#DDF;
}
.system-debug-row-1{
	background-color:#DFD;
}
#system-debug-general-warning{
}
.system-debug-alert{
	color:#f00 !important;
	font-size:12px !important;
	font-weight: bold !important;
}
#system-debug-remote-client{
}
#system-debug-namespaces{
}
#system-debug-session{
}
#system-debug-profile{
}
#system-debug-memory{
}
#system-debug-queries{
}
.system-debug-queries-keys{
	color: #993333; 
	font-weight: bold;
	text-transform:uppercase;
}
#system-debug-languages{
}
#system-debug-untraslated{
}