/**
 * @license
 * MyFonts Webfont Build ID 2728187, 2014-01-19T06:12:17-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Museo Slab 700 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo-slab/700/
 * Copyright: Copyright (c) 2009 by Jos Buivenga. All rights reserved.
 * Licensed pageviews: 500,000
 * 
 * Webfont: Museo Slab 500 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo-slab/500/
 * Copyright: Copyright (c) 2009 by Jos Buivenga. All rights reserved.
 * Licensed pageviews: Unlimited
 * 
 * Webfont: Avenir Pro 55 Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-pro/pro-55-roman/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced, 
 * Licensed pageviews: 250,000
 * 
 * Webfont: Avenir Pro 65 Medium by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-pro/pro-65-medium/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced, 
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2728187
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/29a0fb");

  
@font-face {font-family: 'MuseoSlab-700';src: url('../fonts/29A0FB_0_0.eot');src: url('../fonts/29A0FB_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/29A0FB_0_0.woff') format('woff'),url('../fonts/29A0FB_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab-500';src: url('../fonts/29A0FB_1_0.eot');src: url('../fonts/29A0FB_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/29A0FB_1_0.woff') format('woff'),url('../fonts/29A0FB_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTPro-Roman';src: url('../fonts/29A0FB_2_0.eot');src: url('../fonts/29A0FB_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/29A0FB_2_0.woff') format('woff'),url('../fonts/29A0FB_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTPro-Medium';src: url('../fonts/29A0FB_3_0.eot');src: url('../fonts/29A0FB_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/29A0FB_3_0.woff') format('woff'),url('../fonts/29A0FB_3_0.ttf') format('truetype');}
 
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?80125445');
  src: url('../fonts/fontello.eot?80125445#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?80125445') format('woff'),
       url('../fonts/fontello.ttf?80125445') format('truetype'),
       url('../fonts/fontello.svg?80125445#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}