body{
  font-family:Roboto, Arial, Myriad Pro;
  background:url(../images/bg.png) #91c6f8; 
}

div.itemBody h1{
  color:#1a70b8;
  background:#fff;
  font-size:20px;                      
  margin:20px 0;
  padding:0 0 20px;
  text-transform:uppercase;
  font-weight:normal;
  border-bottom:1px solid #4893d7
}
div.itemBody .itemFullText .tab-content h1,
div.itemBody .itemFullText h2{
  margin:0 50px 20px;
  padding:0;
  text-align:center;
  border-bottom:none
}

div.header, div.itemHeader{
  background-position:left center;
  background-repeat:repeat-x;
  text-align:center;
  margin:0    
}
div.itemBody h2{
  color:#1a70b8;
  background:#fff;
  font-size:20px;
  margin:20px 0;
  padding:0 0 20px;
  text-transform:uppercase;
  font-weight:normal;
  border-bottom:1px solid #4893d7
}
div.header h3{
  display:inline-block;
  margin:0 auto;
  padding:0 20px;
  color:#4b90b9;
  font-size:16px;
  font-family: Helvetica, Arial, Myriad Pro ;
	font-weight: normal;
	font-style: normal;    
}
h3{
  margin:0 0 10px;
  padding:0;
  color:#4b90b9;
  font-size:18px;
  line-height:1.1;
  font-family: Helvetica, Arial, Myriad Pro ;
	font-weight: normal;
	font-style: normal;
  text-transform:uppercase      
}
h4{
  margin:0 0 10px;
  padding:0;
  color:#26547b;
  font-size:18px;
  line-height:1.1;
	font-weight: normal;
	font-style: normal;    
}
h3.catItemTitle{
  text-align:center;
  text-transform:none
}
p{
  line-height:1.4
}

.clear{clear:both}

.itemBackToTop{display:none}
div.itemView{border-bottom:none}

.k2ItemsBlock ol, .k2ItemsBlock ul{
  margin:0;
  padding:0
}

.k2ItemsBlock ol li, .k2ItemsBlock ul li{
  padding:0 0 10px 0;
  color: #737272;
  font-size: 16px;
}

.itemBody p, .itemBody li{
  margin:0 auto 10px;
  color:#333;
  font-size:15px;
  line-height:1.4
}


/** Languages **/
.mod-languages, .moduletable-topnav{
  padding:0;
  margin:0 9px 0 14px;
  clear:right;
  float:right;
	font-weight: normal;
	font-style: normal;
  font-size:17px
}
.moduletable-topnav{
  float:right;
  border-left:1px solid #699db3
}
.moduletable-topnav ul{
  margin:0;
  padding:0
}
div.mod-languages ul.lang-inline li{
  margin:0 2px;
}
.moduletable-topnav ul li{
  margin:0 26px 0 40px;
}
div.mod-languages ul.lang-inline li a, .moduletable-topnav ul li a{
  color:#fff
}
div.mod-languages ul.lang-inline li a:hover, .moduletable-topnav ul li a:hover{
  color:#f9e23e
}

/* Wrapper */
.wrapper{
  width:100%;
  max-width:980px;
  margin:0 auto;
  background:#fff
}

/* Header */
header{
  border-bottom:5px solid #2480cd
}

/** Logo **/
.logo{
  display:block;
  float:left;
  width:283px;
  margin:5px 10px
}
/** Search **/
.moduletable-search{
  float:right
}
.moduletable-search #roksearch_search_str{
  background:url(../images/search-bg.png) right center no-repeat #fff;
  border-width:1px 3px 1px 1px;
  border-style:solid;
  border-color:#75b8f6 #4893d7 #75b8f6 #75b8f6;
  border-radius:0;
  margin:20px 10px 8px;
  padding:7px 5px;
  width:300px
}
/** Phone **/
.moduletable-phone{
  float:right;
  padding:0;
  line-height:23px;
}
  .moduletable-phone p{
    margin:0;
    line-height:1;
    color:#69a3dc;
    font-weight:bold;
    font-size:25px;
    font-family:Roboto, Arial, Myriad Pro;
  }
/* Slider Area ============================================================== */
#slider{
  position:relative
}
  #slider p{
    margin:0;
    padding:0
  }

/* Donate Now =============================================================== */
#slider .moduletable-donate-now p{
  margin:0;
  padding:0
}
.moduletable-donate-now a{
  width:258px;
  height:86px;
  position:absolute;
  right:10px;
  bottom:150px;
  z-index:100;
  text-decoration:none;
  background:url(../images/donate-now.png) no-repeat center center
}
.moduletable-donate-now a:hover{
  text-decoration:none;
  background:url(../images/donate-now-over.png) no-repeat center center
}
/** Slider **/

#cover{
  width:100%;
  margin:0 auto;
  width:100%;
  min-width:940px;
  height:486px;
  background-image:url(../images/cover_pic.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size:100% auto
}

#slider .nivo-caption{
  width:450px;
  left:10px;
  padding:10px;
  bottom:50px;
  background:#4893d7;
}
#slider .nivo-caption p{
  font-size:22px;
  font-weight:bold;
  line-height:1.2
}
#slider .nivo-caption p.name{
  font-size:18px;
  font-weight:normal;
  line-height:1.2;
  font-style:italic;
  text-align:right;
  margin:5px 0 0
}

/** Cover **/
#cover .container .moduletable-cover{
  bottom:0;
  margin:0;
}
.moduletable-cover div.k2ItemsBlock ul li{
  padding:0 18px 20px 0
}
.moduletable-cover .k2ItemsBlock li div.introtext p{
  padding:0;
  font-size:26px;
  line-height:1.2;
  color:#fff;
	font-weight: bold;
  text-shadow: 0px 0px 4px #232323;
}
.moduletable-cover .moduleAttachments a{
  display:inline-block;
  background:#f6f6f6;
  border-radius:5px;
  padding:12px 60px;
  text-transform:uppercase;
  color:#4283a3;
  font-size:27px;
  text-decoration:none;
}
.moduletable-cover .moduleAttachments a:hover{
  background:#f0c054;
  color:#fff;
  text-decoration:none
}

/** General **/

.k2ItemsBlock li > img{
  margin:0 auto 20px;
}
.k2ItemsBlock li div.introtext p{
  margin:0 auto 20px;
  font-family: Roboto, Arial, Myriad Pro ;
  color:#000;
  font-size:15px;
  line-height:1.4
}

/** What is it **/
.moduletable-what-is{
  margin:0 0 30px;
  padding:0 0 25px;
  border-bottom:1px solid #d6d6d6  
}
.moduletable-what-is .header{
  background-image:url(../images/h2-grey-bg.png)  
}
.moduletable-what-is .header h2{
  background:#fff;   
}
.moduletable-what-is h3{
  font-size:30px;
}
.moduletable-what-is li{
  text-align:center;
  margin:0;
  padding:0; 
}
.moduletable-what-is .k2ItemsBlock li div.introtext p{
  font-size:19px;
  margin:0 0 5px;
  font-style:italic;
  text-align:center;
  color:#676666 
}

/** How it Works **/
.moduletable-home-blocks{
  margin:0  
}
.moduletable-home-blocks div.header h2{
  padding:0 20px 40px
}
.moduletable-home-blocks li{
  width:31%;
  float:left;
  text-align:center;
  margin:0;
  padding:0 1% !important; 
}
.moduletable-home-blocks h3{
  line-height:1.3;
  margin:0 auto 10px
}
.moduletable-home-blocks h3 a{text-decoration:none}
.moduletable-home-blocks h3 a:hover{text-decoration:underline}

.moduletable-home-blocks li:first-child h3{width:200px;}
.moduletable-home-blocks li:nth-child(2) h3{width:100px;}
.moduletable-home-blocks li:nth-child(3) h3{width:200px;}
.moduletable-home-blocks li > div > a{
  display:block;
  margin:0 auto;
  max-width:279px;
  border-radius:50%;
}
.moduletable-home-blocks li > div > a.inline{
  display:inline;
  margin:0;
  max-width:auto;
  border-radius:0;
}
.moduletable-home-blocks li > div > img,
.moduletable-home-blocks li > div > a > img{
  margin:0 0 15px;
  max-width:267px;
  border-radius:50%;
  border:4px solid #ccc;
  padding:2px; 
}
.moduletable-home-blocks li > div > img:hover,
.moduletable-home-blocks li > div > a > img:hover{
  opacity: 0.5;
}
.moduletable-home-blocks p{
  font-size:19px 
}

/** Benefits **/
.moduletable-benefits{
  clear:left;
  padding:0 0 30px;
}
.moduletable-benefits div.header{
  background-image:url(../images/h2-grey-bg.png);
  margin:0 0 35px;  
}
.moduletable-benefits .header h2{
  background:#fff;   
}
.moduletable-benefits li{
  width:23.4%;
  padding:0 0.8% !important;
  float:left;
  text-align:center
}
.moduletable-benefits p{
  font-size:16px
}
/** GreyWrap **/
.greywrap{
  margin:0;
  padding:30px 0 20px;
  background:#f4f4f4
}

/** Testimonials **/
.yellowwrap{
  background:#f4ce3b
}
.coralwrap{
  background:#fc685f
}
.bluewrap{
  background:#65a6c7
}
.moduletable-monials{
  text-align:left;
  margin:0 0 30px
}
.moduletable-monials h3{
  color:#fff;
  font-size:25px;
  padding:0;
  margin:30px 0;
  text-align:center  
}
.moduletable-monials p{
  font-size:22px;
  margin:0 0 30px;
  text-align:center;
  color:#fff;
}
.moduletable-monials .ext-itemtitle{
  font-size:17px;
  text-align:center;
  color:#fff;
}
.moduletable-monials .author{
  margin:0 0 0 80px;
  padding:0 0 20px;
  color:#26547b;
  border-bottom:1px solid #b8b8b8;
  font-size:16px;
}
.moduletable-monials li.lastItem .author{
  border-bottom:none;
  padding:0
}

/** faq **/
.moduletable-faq{
  margin:0 10px 20px;
  padding:13px 10px 11px
}
.moduletable-faq p{
  padding:0;
  margin:0 0 5px;
  font-size:17px;
  text-align:center;
  color:#434343
}
.moduletable-faq p strong{
  color:#1b6db1;
}

.moduletable-crisis{
  float:left;
  margin:20px 0 0 10px;
  padding:10px 0;
  width:320px;
  text-align:center;
  background:#e3040a
}
.moduletable-crisis h3{
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold
}
.moduletable-crisis h3 span{
  display:block;
  font-size:35px;
  text-align:center;
  margin:0 0 4px
}
/*#blink2 { -webkit-animation: blink2 1s linear infinite; animation: blink2 1s linear infinite; } 
@-webkit-keyframes blink2 { 100% { color: rgba(34, 34, 34, 0); } } 
@keyframes blink2 { 100% { color: rgba(34, 34, 34, 0); } } */   

/* Chartly ================================================================== */
.moduletable-charity{
  margin:0 10px 20px;
  padding:13px 20px 11px;
  background:#f4ce3b;
}
.moduletable-charity p{
  font-size:17px;
  line-height:1.5;
  text-align:center;
  color:#333
}
.moduletable-charity p strong{
  text-transform:uppercase;
  color:#ff0000
}

/** Contact **/
.pweb-fields{
  position:relative
}

.pweb-field-container{
  
}

.pweb-field-name, .pweb-field-email, .pweb-field-subject{
  clear:left
}
.pweb-labels-over form.pwebcontact-form .pweb-field-container.pweb-field-textarea{
  top:0;
  right:0
}
.pweb-field-buttons{
  
}

/** Footer **/
footer{
  clear:both;
  border-top:3px solid #2480cd;
  padding:20px
}
footer > p{
  margin:0;
  padding:0;
  float:left;
  font-size:14px;
  color:#1b6db1;
  font-weight: normal;
	font-style: normal;
}
.moduletable-footer{
  float:right
}
.moduletable-footer p{
  margin:0;
  padding:0;
  font-size:14px;
  color:#1b6db1;
  font-weight: normal;
	font-style: normal;
}


.moduletable-follow-us{
  width:450px;
  margin:0 auto
}
.moduletable-follow-us .header{
  margin:0 0 15px
}
.moduletable-follow-us .header h5{
  margin:0;
  font-size:14px;
  color:#9c9c9c;
  font-weight: normal;
	font-style: normal;
}
.moduletable-follow-us ul.nav{
  height:40px;
  margin:0 0 10px
}
.moduletable-follow-us li{
  float:left;
  margin:0;
}
.moduletable-follow-us li a{
  display:block;
  float:left;
  height:28px;
  margin:0;
  padding:4px 15px;
  border-left:1px solid #d4d6d7
}
.moduletable-follow-us li:first-child a{
  padding:4px 15px 4px 2px;
  border-left:none
}
.moduletable-follow-us li:last-child a{
  padding:4px 2px 4px 15px;
  border-left:none
}
.moduletable-follow-us li:last-child{
  float:right
}

.moduletable-contact{
  margin:0 auto
}
.moduletable-contact .pweb-fields > div{
  float:left;
  display:block;
  clear:none;
  width:300px;
  margin:0 10px 10px
}
.moduletable-contact .pweb-fields > div.pweb-field-textarea,
.moduletable-contact .pweb-fields > div.pweb-field-buttons{
  width:620px;
  margin:0 10px 0
}

/** Footer Nav **/
.moduletable-footnav{
  padding:40px 0;
  float:right
}
.moduletable-footnav li{
  float:left;
  margin:0 0 0 30px ;
  padding:0
}
.moduletable-footnav li a{
  color:#545454;
  font-size:14px;
  text-decoration:none
}

/* Main Menu */
.moduletable-mainmenu ul{
  margin:0 3px;
  padding:0;
  list-style-type:none;
}
  .moduletable-mainmenu ul li{
    margin:0;
    padding:0;
    float:left
  }
    .moduletable-mainmenu ul li a{
      display:block;
      float:left;
      margin:0 3px 3px;
      padding:6px 33px;
      color:#07579a;
      font-weight:bold;
      font-size:16px;
      border-radius:0px;
      text-transform:uppercase;
      text-decoration:none
    }
    .moduletable-mainmenu ul li.current a,
    .moduletable-mainmenu ul li a:hover{
      color:#fff;
      background:#2480cd
    }

.moduletable-mission h1{
  text-align:center;
  color:#1b6db1;
  font-size:26px;
  margin:20px 0 12px;
  text-transform:uppercase
}
.moduletable-mission p{
  margin:0 80px 20px;
  text-align:center;
  color:#000;
  line-height:1.5;
  font-size:18px
}
.itemBody .nn_tabs > ul.nav-tabs{
  margin:20px 0 0
}

.itemBody .nn_tabs .nav-tabs > li > a{
  border-radius:0;
  background:#4893d7;
  color:#fff;
  border-left:1px solid #4893d7 !important;
  border-top:1px solid #4893d7 !important;
  border-right:1px solid #4893d7 !important;
}

.itemBody .nn_tabs .nav-tabs > li.active > a{
  border-radius:0;
  background:#fff;
  color:#07579a;
  border:1px solid #4893d7
}

.nn_tabs.outline_content > .tab-content{
  border-left:1px solid #4893d7;
  border-right:1px solid #4893d7;
  border-bottom:1px solid #4893d7;
  margin-bottom:20px
}
.nn_tabs.outline_content > .tab-content > .tab-pane{
  padding:20px 10px 10px
}
.nn_tabs .nav-tabs{
  border-bottom:1px solid #4893d7
}

.itemBody .nn_tabs .nav-tabs > li > a:hover{
  box-shadow:none;
  color:#fff !important;
  background:#07579a !important
}

.nn_tabs > ul.nav-tabs > li > a:focus, .nn_tabs > ul.nav-tabs > li.active > a:focus{
  box-shadow:none;
  color:#07579a !important;
  background:#fff !important;
  box-shadow:none;
  border-left:1px solid #2480cd;
  border-right:1px solid #2480cd;
  border-top:1px solid #2480cd;
}
.nn_tabs strong{
  color:#08c;
  text-transform:uppercase;
  line-height:1.6
}

.moduletable-administraton{
  text-align:center
}
.moduletable-administraton .k2ItemsBlock li{
  width:46%;
  float:left;
  text-align:left;
  font-style:italic;
  margin:0 2% 30px;
  padding:0;
  background:url(../images/administration-bg.png) repeat-x left bottom
}
.moduletable-administraton .k2ItemsBlock li:first-child{
  width:65%;
  float:left;
  margin:0 0 30px 21%;
  padding:0 
}
.moduletable-administraton a.moduleItemImage{
  display:block;
  float:left;
  margin:0 15px 0 0;
}
.moduletable-administraton .info{
  display:inline;
  position:relative;
  top:20px
}
.moduletable-administraton .k2ItemsBlock h3{
  display:inline;
  color:#000;
  font-style:italic;
}
.moduletable-administraton p{
  display:inline;
  color:#000;
  padding:0 20px 0 0;
  line-height:1.5
}

/* Breadcrumbs */
.moduletable-breadcrumbs{
  margin:20px 15px 0 0;
  padding:0;
  float:right
}
.moduletable-breadcrumbs ul{
  margin:0;
  padding:0;
  list-style-type:none
}
.moduletable-breadcrumbs ul li{
  margin:0;
  padding:0;
  float:left
}
.moduletable-breadcrumbs ul li a,
.moduletable-breadcrumbs ul li span{
  margin:0 5px;
  line-height:24px;
  font-style:italic;
  font-size:15px;
  font-family:Verdana, sans-serif
}
.moduletable-breadcrumbs ul li span{
  color:#636363
}