.mycont{
	margin:0 auto;
	overflow:hidden;
}

.mycarousel li{
	width:170px;
	margin:0 10px;
}

.jcarousel-clip{
	overflow: hidden;
}

.jcarousel-prev,
.jcarousel-next{
	display:block;
	width:40px;
	height:40px;
	margin-top:20px;
	cursor:pointer;
	position:relative;
}

.jcarousel-prev{
	background:url('../images/prev-horizontal.png') no-repeat 0 0;
	float:left;
	left:45%
}

.jcarousel-next{
	background:url('../images/next-horizontal.png') no-repeat 0 0;
	float:right;
	right:45%
}

/* ========================================================= 1100 */
            @media screen and (max-width: 1100px) {
              .jcarousel-prev{
              	left:44%
              }
              .jcarousel-next{
              	right:44%
              }
            }  

.jcarousel-prev:hover,
.jcarousel-next:hover,
.jcarousel-prev-disabled,
.jcarousel-next-disabled{
	background-position:100% 0;
}