/**
 * @copyright	Copyright (C) 2005 - 2014 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* The main calendar widget.  DIV containing a table. */
div.calendar {
	position: relative;
	z-index: 10000;
	width: 280px;
  border: 1px solid #bdc3c7;
}

.calendar {
  font-size: 14px;
	color: #000;
	cursor: default;
  font-weight:300;
	background: #fff;
  padding:15px 10px 20px;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0, 0, 85, 0.2);
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;    /* They are the navigation buttons */
	padding: 2px;          /* Make the buttons seem like they're pressing */
}
.calendar tr:first-child td:hover{background:none}
.calendar tr:first-child td.button:first-child > div{display:none}
.calendar tr:first-child td.button:last-child > div{
  width:16px;
  height:16px;
  background:#7f8c8d;
  color:#fff;
  font-weight:bold;
  font-size:20px;
  padding:0;
  margin:0;
  position:relative;
  right:-20px;
  top:-10px;
  border-radius:16px;
  line-height:16px;
  cursor:pointer
}

.calendar thead .title { /* This holds the current "month, year" */
	font-weight: bold;      /* Pressing it will take you to the current date */
	text-align: center;
	padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
	color: #000;
}

.calendar thead .name { /* Cells <TD> containing the day names */
	padding: 2px;
	text-align: center;
	color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
	color: #999;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
	background: #dddddd;
	color: #000000
}

.calendar thead .active { /* Active (pressed) buttons in header */
	padding: 2px 0px 0px 2px;
}

.calendar thead .daynames { /* Row <TR> containing the day names */

}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
	width: 2em;
	text-align: right;
	padding: 2px 4px 2px 2px;
}

.calendar table .wn {
	padding: 2px 3px 2px 2px;
	border-right: 1px solid #cccccc;
}

.calendar tbody .rowhilite td {
	background: #f1f1f1;
}

.calendar tbody .rowhilite td.wn {
	background: #f1f1f1;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
	background: #000000;
	color: #ffffff;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
	color: #999;
}

.calendar tbody td.selected { /* Cell showing today date */
	font-weight: bold;
	background: #3498db;
	color: #ffffff;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
	background: #dddddd;
}

.calendar tbody td.today {
	font-weight: bold;
}

.calendar tbody .disabled {
	color: #999;
}

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
	visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
	display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
	text-align: center;
	color: #000;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
	color: #000000;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
	background: #666666;
	border: 1px solid #f40;
	padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
	background: #dddddd;
	padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.combo {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border: 1px solid #655;
	background: #ffffff;
	color: #000;
	font-size: smaller;
}

.combo .label {
	width: 100%;
	text-align: center;
}

.combo .hilite {
	background: #fc8;
}

.combo .active {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #efefef;
	font-weight: bold;
}

tfoot{
  display:none
}