/**
 * Core Design Glossary plugin for Joomla! 2.5
 * @author		Daniel Rataj, <info@greatjoomla.com>
 * @package		Joomla
 * @subpackage	Content
 * @category   	Plugin
 * @version		2.5.x.1.0.5
 * @copyright	Copyright (C) 2007 - 2013 Great Joomla!, http://www.greatjoomla.com
 * @license		http://www.gnu.org/copyleft/gpl.html GNU/GPL 3
 * 
 * This file is part of Great Joomla! extension.   
 * This extension is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This extension is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

/* Term in content */
.cdglossary_term {
	padding: 0 3px;
	cursor: help;
}

/* Tooltip container */
.cdglossary_tooltip {
	display: none;
	width: 230px;
	position: absolute;
	text-align: left;
	font-size: 90%;
	padding: 5px;
}

/* Tooltip header */
.cdglossary_tooltip .cdglossary_tooltip_header {
	padding: 1px 5px;
	position: relative;
}

/* Sticky close icon */
.cdglossary_tooltip .cdglossary_tooltip_header .cdglossary_tooltip_sticky {
	position: absolute;
	right: 0;
	cursor: pointer;
}

/* Tooltip content */
.cdglossary_tooltip .cdglossary_tooltip_content {
	padding: 5px 8px;
}

/* Tooltip content - "Read More" link */
.cdglossary_tooltip .cdglossary_tooltip_content .cdglossary_tooltip_readmore {
	text-align: right;
	display: block;
}