<h2>Планирование и размещение эффективных рекламных кампаний в городе Новосибирск</h2>
<table cellpadding="0" cellspacing="0" width="100%" class="media-item">
  <tr>
    <td width="17.24%" class="leftnav">
      <img src="images/cities/novosibirsk-logo.png" alt="" />
      <p class="title">Категория</p>
      <p>города-миллионеры</p>
      <p class="title">Население</p>
      <p>1 523 800</p>
      <p class="title">Рейтинговый балл качества жизни</p>
      <p>46,9</p>
      <p class="title">Индустриальные медиа исследования</p>
      <p>есть</p>
    </td>
    <td width="13.79%"></td>
    <td width="68.97%" class="maintext">
      <p class="intro">Новосибирск — третий по численности населения и двенадцатый по занимаемой площади город в России. Административный центр Сибирского федерального округа.</p>
      <table cellspacing="0" cellpadding="0" width="100%" class="features">
        <tbody>
          <tr>
            <td width="150">
              <p><strong>Особенности:</strong></p>
            </td>
            <td>
              <p>в городе сформирован развитый и прозрачный медиа-рынок с широким диапазоном каналов коммуникации для взаимодействия с различными целевыми группами</p>
            </td>
          </tr>
        </tbody>
      </table>
      <h4>Медиа-сервис агентства</h4>
      <table cellspacing="0" cellpadding="0" width="100%" class="features">
        <tbody>
          <tr>
            <td width="150">
              <p><strong>Исследования:</strong></p>
            </td>
            <td>
              <p>анализ активности конкурентов, анализ медиа-потребления аудиторий</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Планирование:</strong></p>
            </td>
            <td>
              <p>разработка стратегии продвижения, экспертная оценка, отбор оптимального пула медиа-носителей, составление детального медиа-плана, расчет планируемых показателей</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Закупка:</strong></p>
            </td>
            <td>
              <p>баинговая оптимизация, закупка и размещение рекламной кампании</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Отчетность:</strong></p>
            </td>
            <td>
              <p>отчетность по итогам кампании, рекомендации для будущих кампаний</p>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<h4>Медиа-баинговые возможности агентства в городе Новосибирск</h4>
      <table cellpadding="0" cellspacing="0" width="100%" class="simple-little-table">
        <thead>
          <tr>
            <td width="14.2%">ТВ</td>
            <td width="14.2%">Радио</td>
            <td width="14.2%">Пресса</td>
            <td width="14.2%">Интернет</td>
            <td width="14.2%">Наружная реклама</td>
            <td width="14.2%">Транспорт</td>
            <td width="14.2%">Indoor</td>
            <td width="14.2%">BTL</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>18 телеканалов</td>
            <td>21 радиостанция</td>
            <td>104 издание</td>
            <td>1200 площадок</td>
            <td>3200 конструкций</td>
            <td>1740 единиц транспорта</td>
            <td>239 площадок</td>
            <td>60 человек промо-персонала</td>
          </tr>
        </tbody>
      </table>
<table class="bot-cen-wrap" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p>В данной таблице представлены медиа-баинговые возможности нашего агентства в рамках основных каналов коммуникации. Помимо выше перечисленных возможностей, мы осуществляем размещение рекламы на стендах подъездов, в лифтах, на квитанции ЖКХ, на станциях АЗС, в электричках, реализуем не стандартные виды размещений, организуем Direct Mail рассылку для физических и юридических лиц, и т.д.</p>
</td>
</tr>
</tbody>
</table>