<h2>Размещение рекламных материалов в издании Forbes</h2>
<table cellpadding="0" cellspacing="0" width="100%" class="media-item">
  <tr>
    <td width="17.24%" class="leftnav">
      <img src="images/forbes-title.jpg" alt="" />
      <p class="title">Издание</p>
      <p>Forbes</p>
      <p class="title">Категория</p>
      <p>Бизнес</p>
      <p class="title">Тип</p>
      <p>Журнал</p>
      <p class="title">Периодичность</p>
      <p>Ежемесячно</p>
      <p class="title">Формат</p>
      <p>А4</p>
      <p class="title">Тираж</p>
      <p>100 000</p>
      <p class="title">Аудитория одного номера</p>
      <p>1 299 800 человек</p>
      <h6>{tip TNS NRS-Россия. Декабрь 2013 - Апрель 2014}Источник данных{/tip}</h6>
    </td>
    <td width="13.79%"></td>
    <td width="68.97%" class="maintext">
      <p class="intro">«Forbes» - это журнал об историях успеха и поражений крупнейших бизнесменов; новых идеях для развития бизнеса и направления инвестиций; расследованиях журналистов. Кроме того публикуются ежегодные рейтинги успешности, а также советы, как потратить деньги с удовольствием.</p>
      <table cellspacing="0" cellpadding="0" width="100%" class="features">
        <tbody>
          <tr>
            <td width="150">
              <p><strong>Особенности:</strong></p>
            </td>
            <td>
              <p>охват премиальной аудитории, высокий уровень доверия и лояльности, имидж</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Возможности:</strong></p>
            </td>
            <td>
              <p>модульная реклама, PR статьи, спонсорство рубрик, инфографика, нестандартные проекты</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><strong>Отчетность:</strong></p>
            </td>
            <td>
              <p>экземпляры всех номеров с рекламой клиента</p>
            </td>
          </tr>
        </tbody>
      </table>
      <p><strong>Наши специалисты выполнят полный комплекс работ по планированию и размещению рекламной кампании в издании Forbes:</strong></p>
      <ul>
        <li>выбор оптимального формата рекламных материалов для размещения,</li>
        <li>определение необходимого кол-ва публикаций,</li>
        <li>формирование детального медиаплана с графиком размещения,</li>
        <li>расчет прогнозных показателей охвата,</li>
        <li>закупка площадей и баинговая оптимизация,</li>
        <li>запуск и контроль за прохождением,</li>
        <li>отчетность и рекомендации на будущие рекламные кампании.</li>
      </ul>
      <p>В зависимости от задачи, издание Forbes, может использоваться либо как отдельный, единственный канал коммуникации, либо как один из элементов комплексной рекламной кампании.</p>
    </td>
  </tr>
</table>
<h4>Состав аудитории Forbes</h4>